[2019-02-01 15:57] magicsong opened #4 "make use of ECMP"
Right now, porter directs the next-hop of all eips to master node, which will bring considerable pressure to single node. We will try to use ECMP ( `Equal Cost Multiple Paths`) for load-balancing

- [x] watch endpoints to publish routes in bgp
- [x] use daemonset to write local routes of each nodes
- [x] upgrade bird to 1.6 to test ECMP

[2019-02-01 16:01] magicsong opened #5 "EIP CRD"
- [x] desigh of eip

- [x] write code

[2019-02-14 03:40] magicsong opened #7 "Add more unit tests and e2e tests"
must do that

[2019-02-14 03:45] magicsong opened #8 "rewrite docs because of the imports of ecmp"
As porter has ability of load balancing now, the docs of  tutorial should mention it.

[2019-02-14 06:43] #8 closed

[2019-02-19 13:49] magicsong opened #10 "✨Add more docs about how to contribute"
- [ ] write contribute guide

[2019-02-19 15:40] magicsong opened #11 "✨Add CI for each pr"

[2019-02-20 02:56] magicsong opened #12 "✨add more logs in codes to help locating bugs"
- [x] Add more logs
- [x] modify some log to display more details

[2019-02-20 03:03] #4 closed

[2019-02-20 03:03] #5 closed

[2019-02-20 06:47] #11 closed

[2019-02-26 07:03] GeorgeGuo2018 opened #19 "Readme.md Need to be transferred to English"
RT

[2019-03-19 06:46] GeorgeGuo2018 opened #21 "Performance testing"
Porter need to watch the change of services and endpoints. In product environment, the scale of the k8s cluster would be more than 100 nodes, thus pod events would be huge even if ControllerRunTime framework did status aggregation for us.
I think it is essential to carry out a performance testing in stage environment  to make sure porter works well in product environment.(if we choose ingress at t

[2019-03-20 05:59] magicsong opened #22 "Make default interface configurable"
The default interface of many VMs is not "eth0"

[2019-03-25 06:37] magicsong commented on #22
done in #24

[2019-03-25 06:37] #22 closed

[2019-03-25 11:30] magicsong opened #26 "duplicate ExternalIPs in kubectl"

[2019-03-26 03:17] #26 closed

[2019-03-27 05:51] magicsong opened #31 "Support L2 configure"
using arp to detect nexthops, however, it will lose the ability of ECMP

[2019-03-27 10:32] magicsong opened #32 "In cisco, cannot coexist with calico when using default 179 port"
Because cisco does not support configuration of remote-port.
---
We can launch our BGP in port 17900 and using `iptables` to  forward 179 to 17900. It has been verified and we should add such rules in our code instead of manual setup

[2019-03-27 10:33] magicsong opened #33 "Add docs of how to setup in cisco switch"

[2019-03-27 10:47] magicsong opened #34 "🎉🎉 [Major Update] Release v0.1.0"
This week is the deadline of [milestone v1](https://github.com/kubesphere/porter/milestone/1), we will release v0.1.0. Before releasing, there are still something to do:

**Issues which will be closed in the release:**
 - https://github.com/kubesphere/porter/issues/33 Add docs of how to setup in cisco switch
 - https://github.com/kubesphere/porter/issues/32 In cisco, cannot coexist with calico whe

[2019-03-29 03:53] #33 closed

[2019-03-31 12:12] #32 closed

[2019-03-31 12:22] magicsong commented on #7
done in #6 #16 #37

[2019-03-31 12:22] #7 closed

[2019-03-31 13:47] #34 closed

[2019-04-02 09:22] magicsong opened #40 "Need e2e test for bgp passive mode"
passed in manually test. But add an e2e test case is better

[2019-04-08 02:53] magicsong opened #43 "Watch filter in informer"
- [ ] Sometimes the services used in porter would be painted with finalizer. (the watch filter does not take effect, Maybe need double check)

[2019-04-08 03:01] magicsong opened #44 "Test will fail because of insufficient cleanup"
Mostly is namespace conflict and port occupied in docker container.

Check Before running test

Found out why the namespace and container cannot self-destroy

[2019-04-08 03:01] magicsong opened #45 "Doc about how to using passive mode"

[2019-04-08 05:56] #40 closed

[2019-04-08 09:21] magicsong opened #47 "Test for scaling"
increase/reduce replicateset will change routes in router

[2019-04-10 04:38] #44 closed

[2019-04-10 10:18] GeorgeGuo2018 opened #50 "Any improve"
Suppose that there exist a service with service type LoadBalance,  and k8s maintained 2 Pods with according to deployment of  this service.
Suppose that Pod 1 was deployed on Node1 and Pod2 was deployed on Node2 on one moment.
The request for this service was equally divied to Node1 and Node2 with the help of porter.But once the request redirected to Node1, after the DNAT of kube-proxy, the reques

[2019-04-10 11:11] magicsong commented on #50
This is user's decision.  user can specify the traffic policy of service to local. Then, the traffic will not route to other nodes.
 you can check this [externalTrafficPolicy](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#servicespec-v1-core)

[2019-04-10 11:13] GeorgeGuo2018 commented on #50
Got it

[2019-04-10 11:13] #50 closed

[2019-04-10 11:31] GeorgeGuo2018 commented on #50
You can think about giving a best practice suggestion for users.
for example, to get better load-balance effect, it is suggest to add podAntiAffinity in deployment using porter , Also user can try  externalTrafficPolicy option while define services thus to get better network performance.

[2019-04-11 02:15] magicsong commented on #50
@GeorgeGuo2018 yes, you are right. But before more testing, we have no idea of best practise.

[2019-04-17 08:18] GeorgeGuo2018 opened #51 "Missing Dockerfile"
Did makefile replaced dockerfile？

[2019-04-17 08:18] #51 closed

[2019-04-17 08:19] GeorgeGuo2018 commented on #51
noticed that the whole project is consist of 2 components: manager and agent

[2019-04-17 08:28] GeorgeGuo2018 commented on #51
but still didnot see where u make the binary file for agent component in the makefile

[2019-04-17 09:30] magicsong commented on #51
Dockerfile is under dir `deploy`

[2019-08-05 04:05] driftavalli opened #52 "Assign IP to different services"
How does one select which EIP to assign to a service. It seems the first EIP gets assigned to the first service that comes online but subsequent service is stuck on pending for external IP despite creating a second EIP.

[2019-08-05 04:15] magicsong commented on #52
you should specify another eip on the annotation of service or create a new eip to pool.
Creating eip example:
[code]

[2019-08-05 04:52] driftavalli commented on #52
I can't seem to get this working:

[code]
`kubectl get svc`
[code]
From within the cluster:
[code]

[code]

[2019-08-05 05:20] magicsong commented on #52
can you show me the log of `controller-manager`?

[2019-08-05 05:39] driftavalli commented on #52
Yes, I missed that. I can reach the service externally now. Does the namespace of the deployment have a bearing on getting an external IP? I have kubernetes-dashboard deployed in the kubernetes-dashboard namespace and that is pending. The example service.yaml and kuard however are deployed in the default namespace and seem to be ok.

`kubectl get svc`
[code]

`kubectl get svc -n kubernetes-dashboa

[2019-08-05 05:58] magicsong commented on #52
no, it works on all namespaces. can you show me the yaml of service `kubernetes-dashboard`

[2019-08-05 06:00] driftavalli commented on #52
`kubectl describe svc kubernetes-dashboard -n kubernetes-dashboard`
[code]

[2019-08-05 06:03] magicsong commented on #52
you miss the annotation:
[code]
we use this annotation to recognize the service who wants to expose itself using porter

[2019-08-05 06:14] driftavalli commented on #52
Hmm, seem I am running into some sort of error

`kubectl describe svc kubernetes-dashboard -n kubernetes-dashboard`

[code]

`kubectl get svc -n kubernetes-dashboard`
[code]

`kubectl logs -n porter-system controller-manager-0 manager`
[code]

[2019-08-05 06:24] magicsong commented on #52
the bgp server is down. looks like a misconfiguration. How do you set up your bgp peers?

[2019-08-05 06:46] driftavalli commented on #52
I configured a peer for all the masters. I run a multi-master cluster so wanted to account for any node the pod gets deployed on. I am using a HP Procurve switch for peering and I had a BGP session established earlier on just one node - controller-2. I used the porter.yaml example but changed `--metrics-addr=127.0.0.1:8080` to `--metrics-addr=127.0.0.1:8040`. This worked fine and had sessions esta

[2019-08-05 07:19] magicsong commented on #52
you should not configure it in this way. porter will watch any nodes including masters to update its routes. So you just need one porter in a cluster. If you are interesting in `controller high-availablity`, it is the `Leader Election`which is  on our roadmap.

[2019-09-06 08:02] #19 closed

[2019-09-06 08:03] magicsong commented on #12
done in various pr

[2019-09-06 08:03] #12 closed

[2019-09-06 08:03] #43 closed

[2019-09-06 08:03] magicsong commented on #43
done in #46

[2019-09-06 08:04] #52 closed

[2019-09-09 09:00] magicsong opened #60 "support CIDR"
/kind feature
/assign

[2019-09-16 03:37] magicsong opened #63 "refacter bgp"
- [x] using interface to decouple with gobgp
- [ ] we can add integrated testing to speed up development

/kind feature
/kind cleanup
/area testing

[2019-09-16 03:51] magicsong opened #64 "problems in e2e-test"
1. gobgp container cannot start because of a running instance
2. CRD is terminating

[2019-09-16 05:11] #60 closed

[2019-09-23 06:28] magicsong opened #69 "support add neighbor dynamically"
/kind feature
/assign
/area api

[2019-09-26 05:38] magicsong opened #70 "Support Headless service"
In such mode, we do not have any pod endpoints. So we can choose some nodes by labels or manually.
Use cases, For example, `statefulset`

/kind feature
/assign

[2019-10-16 09:24] magicsong commented on #64
/kind bug
/priority backlog

[2019-11-14 09:58] 53537 opened #71 "porter-manager pod的日志内有很多这样的日志"
E1114 09:49:45.091777       1 reflector.go:126] pkg/mod/k8s.io/client-go@v11.0.1-0.20190409021438-1a26190bd76a+incompatible/tools/cache/reflector.go:94: Failed to list *v1.Endpoints: endpoints is forbidden: User "system:serviceaccount:porter-system:default" cannot list resource "endpoints" in API group "" at the cluster scope

[2019-11-15 02:08] magicsong commented on #71
这个RBAC没有安装好，删除了重新装一下试试呢

[2019-11-15 05:27] 53537 commented on #71
是从2.0.2升级到2.1出现的这些日志，且正式环境测试环境都有这种日志，正式环境可以正常使用，测试环境无法正常使用

[2019-11-22 09:55] #71 closed

[2019-11-22 10:02] 53537 opened #73 "期待增加loadBalancerIP和eip网段功能"
期待增加loadBalancerIP和eip网段功能，使用helm部署项目时loadBalancerIP对我们很重要

[2019-12-16 08:01] FeynmanZhou commented on #73
@zheng1

[2020-02-11 08:48] FeynmanZhou opened #75 "Suggest to support simple mode like layer 2"
`The major advantage of the layer 2 mode is its universality: it will work on any ethernet network, with no special hardware required, not even fancy routers.`

@rayzhou2017 @calvinyv @zheng1
I suggest layer 2 mode can be supported in Porter, to lower the threshold for testing, quick start and use. BGP mode is very appropriate for production but not that easy for new users. Furthermore, [MetalLB](

[2020-02-11 08:49] FeynmanZhou commented on #75
/kind feature

[2020-02-11 09:07] FeynmanZhou opened #76 "Porter vs MetalLB"
Most people have asked a question, what's the difference and advantages between Porter and MetalLB. I think we should investigate both of them and summarize the difference, it would be better that we can **develop a roadmap for Porter**.

BTW, according to our questionnaire survey, 50 % of users installed KubeSphere to BMs, it proves potential user scale is large.

[2020-02-11 09:09] zheng1 commented on #75
I tested it in layer 2 environment and it works well, but more tests are needed.
Others can participate in the test if interested.

**Scenes: EIP/node/master/client should in the same subnet(e.g. 192.168.11.0/24).**

[2020-02-11 09:15] FeynmanZhou commented on #75
@zheng1  Not sure what test cases are needed, it would be better that write a to-do list for test case thus we can participate in the test.

[2020-02-11 09:19] FeynmanZhou commented on #76
/kind documentation

[2020-02-12 08:19] FeynmanZhou commented on #76
@zheng1  @rayzhou2017 @calvinyv

I see metalLB has been packaged and uploaded as a [helm chart](https://github.com/helm/charts/tree/master/stable/metallb#configuration), which is very easy to install and test, as well as promotion. Is it possible to package Porter as a helm chart in the future?

[2020-02-12 08:44] zheng1 commented on #75
@FeynmanZhou  https://kubesphere.com.cn/forum/d/759-porter

[2020-04-07 05:55] calvinyv opened #79 "Feat: support non-bgp switch"

[2020-04-18 12:44] zheng1 opened #81 "Roadmap"
## v0.2.0
- Support layer 2 loadbalancing #75 #31
- Support loadBalancerIP in Service #73

## v0.3.0
- Support add neighbor dynamically #69
- Support config porter via CRD #69

## v0.4.0
- Support non-bgp switch #79

[2020-04-18 12:44] zheng1 commented on #81
/cc @FeynmanZhou

[2020-04-18 13:29] zheng1 commented on #79
Proposal: use keepalived+envoy as DaemonSet to run on each node

[2020-04-18 13:29] FeynmanZhou commented on #81
Awesome, very glad to see this roadmap.

[2020-04-18 14:18] k0ngk0ng commented on #81
I'm interested in this roadmap and want to be a contributor. 😃

[2020-04-18 14:23] FeynmanZhou commented on #81
Cool! Another good news today. @k0ngk0ng is going to upgrade from user to contributor. We will set up a time to discuss the roadmap and staged tasks.

[2020-04-18 14:32] zheng1 commented on #73
@k0ngk0ng I think you can implement loadBalancerIP as a first step.

May need to be modified here. https://github.com/kubesphere/porter/blob/master/controllers/lb/lb.go#L17

[2020-04-27 06:01] calvinyv commented on #79
/kind feature

[2020-04-28 02:03] duanjiong commented on #75
/assign @duanjiong

[2020-04-28 02:04] duanjiong commented on #31
/assign @duanjiong

[2020-05-12 03:05] duanjiong opened #88 "porter agent can be removed"
Porter agent just add iptables rule to accept eip, but eip always be accepted.
And porter just need a controller to distribute various forward rules, such as bgp,arp, openflow etc.
porter manager use the host network too, so we don't need agent any more.

[2020-05-12 03:14] rayzhou2017 commented on #88
Isn't the agent to write rules for the traffic back forth?

[2020-05-12 03:22] duanjiong commented on #88
this done by kube-proxy

[2020-05-13 06:15] duanjiong opened #89 "split bgp config"
leave bgp portforward alone, and remove https://github.com/osrg/gobgp/internal/pkg files

[2020-05-13 06:15] duanjiong commented on #89
/assign @duanjiong

[2020-05-14 02:28] zheng1 commented on #79
Here are some open-source implementations we can refer to:
https://github.com/caicloud/loadbalancer-controller/blob/master/docs/design.md
https://github.com/hpcloud/kubernetes-service-loadbalancer#software-loadbalancer-using-keepalived-and-nginx
https://github.com/kontena/akrobateo#akrobateo

[2020-05-14 10:11] k0ngk0ng commented on #89
Does it mean that we'll use osrg/gobgp package directly, and delete the copies in /pkg/bgp ?

[2020-05-14 12:51] k0ngk0ng opened #90 "BGP Additional Paths"
In BGP mode, the design of Porter and MetalLB are completely different.

**Porter:**
The porter-manager will advertise the node IPs of all the Pods of a Service to the router.
Suppose we have a k8s cluster like this:
[code]
And we also have a deployment app, it's service EIP is 10.177.0.10 and replicas is 3, deployed on each workers.

If we do not enable the BGP Additional Paths in router, maybe t

[2020-05-14 12:51] k0ngk0ng commented on #90
/kind design

[2020-05-14 13:41] duanjiong commented on #89
Yes， refactor the porter config module

[2020-05-14 14:12] duanjiong commented on #90
That's indeed a problem.   I've also been working on BGP recently ,  I'll discuss it with you if there's any progress @k0ngk0ng  .

What do you think about this @zheng1 ?

[2020-05-14 14:48] zheng1 commented on #90
This is a design based on our previous experience with public clouds, because in our environment add-paths are generally supported. At this point, it looks like we can support both, **distributed** or **centralized** to establish BGP connections to routers.
Distributed is implemented using DaemonSet. Centralized as before.

[2020-05-15 00:45] duanjiong commented on #90
I think It is not appropriate to maintain  both of them. If only a few routers do not support this feature, I think we can give this up.  If we use DaemonSet, then we are the same as Metallb.

[2020-05-15 01:44] zheng1 commented on #90
Modern switches can support this feature, at present, we do not need to modify the architecture in order to be compatible with legacy switches

[2020-05-15 02:17] duanjiong commented on #69
/assign @duanjiong

[2020-05-15 03:13] duanjiong commented on #79
Why use envoy?  Layer7 was  supported in  ingress controller

[2020-05-24 16:10] FeynmanZhou opened #94 "Add the website address (https://porterlb.io) to the top"
![image](https://user-images.githubusercontent.com/40452856/82758914-08ac3d80-9e1c-11ea-9b04-bf808d9ef352.png)

[2020-05-24 16:10] FeynmanZhou commented on #94
/assign @zheng1

[2020-05-24 16:23] zheng1 commented on #94
Done

[2020-05-24 16:28] #94 closed

[2020-05-25 13:27] zheng1 commented on #76
/assign @duanjiong

[2020-05-25 13:29] zheng1 opened #95 "Web Interface"
We need a web interface to config the EIP and other resources.

[2020-05-26 05:40] FeynmanZhou commented on #95
+1. This might the unique part when Porter compares with MetalLB, it will be friendly for users.

[2020-05-26 09:04] FeynmanZhou opened #96 "User questionnaire design"
We need to add a user survey in https://porterlb.io to gather the user requirements and user's switch, what questions should be included in this survey?

Do not hesitate to leave your suggestions and ideas here.

[2020-05-26 09:07] FeynmanZhou commented on #96
/assign

[2020-05-26 13:11] duanjiong commented on #89
#98

[2020-05-26 13:13] duanjiong opened #99 "e2e testing don't extend well"
It is not good to add test cases

[2020-05-26 13:13] duanjiong commented on #99
/assign @duanjiong

[2020-05-26 13:14] #88 closed

[2020-05-26 14:06] FeynmanZhou commented on #99
Not clear about this issue, what do you want to do?

[2020-05-26 14:50] duanjiong commented on #99
I had some problems adding test cases, so I'm going to improve the e2e test

[2020-05-28 01:34] zheng1 commented on #96
1. What is your role in the project?
2. Do you have permission to configure switches, routers?
3. Do you know the brand and model of the switch or router? If so, please write it down.
4. Are you familiar with the BGP protocol?
5. Are you familiar with the ARP protocol?
6. How do you implement the high availability of kubernetes' master in the production environment?
7. How many nodes do you use in

[2020-05-28 04:17] FeynmanZhou commented on #96
Why we need Q6, Q7, Q8 for Porter?

[2020-05-28 09:22] zheng1 commented on #96
1. Consider supporting high master availability
2. Consider receiving data support for Porter deployment at large-scale

[2020-05-29 18:08] #90 closed

[2020-06-01 22:52] k0ngk0ng commented on #95
Should we open a new repo to do this?

[2020-06-02 00:54] zheng1 commented on #95
To make the project easier to collaborate frontend and backend, we can put it all together like [k8s dashboard](https://github.com/kubernetes/dashboard) .

[2020-06-03 02:39] zheng1 opened #100 "Support helm chart"

[2020-06-03 04:08] chinazj commented on #100
/assign chinazj

[2020-06-08 04:46] #99 closed

[2020-06-08 04:47] #89 closed

[2020-06-23 10:32] chinazj opened #108 "The word "addPaths" in the configuration file is incorrect"
from porter/config/samples/network_v1alpha1_bgppeer.yaml

[code]

[2020-06-23 10:33] chinazj commented on #108
/assign chinazj

[2020-06-24 01:26] #108 closed

[2020-07-18 13:03] FeynmanZhou opened #118 "Questions from infoq"
Here are the questions raised by infoq.com

- What are the considerations you had while choosing GoBGP compared to other similar BGP daemons like OpenBGPD?
- Do you have plans for supporting IPv6 addresses in Porter in the future? What challenges do you foresee?
- MetalLB - a similar project - supports a few cloud platforms. It does not support most because those platforms don’t give access to net

[2020-07-19 12:10] duanjiong commented on #118
1. GoBGP is implemented in the go language , easy to integrate , follow-up porter can also support a variety of daemon that implementations the BGP protocol
2. Yes, IPv6 will also be supported, it's not technically difficult at the moment, it's just that many environments are still ipv4, so it's not that urgent.
3. Porter was designed to support load balancing in a physical environment, and you ca

[2020-07-27 10:57] hansbogert commented on #76
The [readme](https://github.com/kubesphere/porter#user-content-pros) has a section about MetalLB now, but tbh, I can't tell if the mentioned 'pros' are for Porter, or for MetalLB

[2020-07-27 13:44] duanjiong commented on #76
Porter

[2020-07-27 14:56] FeynmanZhou commented on #100
Helm Chart is supported in this [PR](https://github.com/kubesphere/helm-charts/pull/55), thanks @chinazj

[2020-07-27 14:56] #100 closed

[2020-07-28 02:16] duanjiong opened #119 "add some metrics for porter"
EIP:

- addresses_total
- addresses_in_use_total
- services_allocated_total

ARP/NDP:

- requests_received
- responses_sent
- gratuitous_sent

BGP:

- session_up
- updates_total
- announced_prefixes_total
- pending_prefixes_total

[2020-07-28 02:18] duanjiong commented on #119
/assign @duanjiong

[2020-07-29 09:03] FeynmanZhou opened #120 "Failed to deloy Porter chart on KubeSphere"
How to reproduce:

1. Import an App repo:  https://charts.kubesphere.io/test

![image](https://user-images.githubusercontent.com/40452856/88779209-14213980-d1bc-11ea-8f38-db1d18943599.png)

2. Deploy Porter from App Template in a `demo` project.

![image](https://user-images.githubusercontent.com/40452856/88779820-c6590100-d1bc-11ea-8301-9e4908d8d1f2.png)

3. Inspect the app status, it shows `pend

[2020-07-31 03:00] FeynmanZhou commented on #120
@zheng1 Any updates on this issue?

[2020-08-04 06:34] jenningsloy318 commented on #81
Is it possible to add multi master node  support, as common case we have multiple  master k8s nodes?

[2020-08-04 07:41] duanjiong commented on #81
Are you saying that porter-manager deploys multiple copies and then they can process requests simultaneously, equivalent to active-active?

[2020-08-04 12:33] jenningsloy318 commented on #81
As the BgpConf will config the `routerID` to of one k8S master node where the manager is running on, and how to determine which master node it is running on when there is not only one master node?

[2020-08-04 13:30] duanjiong commented on #81
No, it's not. You can specify any one of them. it doesn't matter if the porter-manager switches to another node。

[2020-08-06 01:15] zheng1 commented on #120
@FeynmanZhou  Please try this package https://charts.kubesphere.io/test/porter-0.1.2.tgz

[2020-08-06 06:32] FeynmanZhou commented on #120
okay, let me test it and give feedback later

[2020-09-02 01:35] FeynmanZhou commented on #120
verified

[2020-09-02 01:41] FeynmanZhou opened #124 "Remove the restriction that Porter must be running on the master node"
Remove the restriction that Porter must be running on the master node, there might be any taint on the master node in some cases.

[2020-09-02 01:42] #120 closed

[2020-09-04 19:38] wangxin311 opened #125 "Can I use the porter on baremetal k8s to advertise kube api server?"
There is circular dependency in metallb.

For example, if we use MetalLB to create and advertise the LB IP for api server, however kubelet cannot talk to the control plane until MetalLB has started and configured the LB IP, But MetalLB cannot start until kubelet can talk to the control plane and discover that it should be running the pod!

This issue is not specifically for metallb, wondering if p

[2020-09-06 02:38] duanjiong commented on #125
Why kubelet has to connect to external ip, why not cluster ip?

[2020-09-06 03:21] wangxin311 commented on #125
There is a user case for HA Kubernetes cluster which deployed on Baremetal to advertise Kube api server IP address, some solutions like HA proxy is working but that for L2 and many people seeking for a way to advertise it via BGP, it’s pretty common actually and I believe anyone who is going to deploy HA k8s cluster will facing the same issue.

[2020-09-07 02:19] duanjiong commented on #125
You may need to set up a VIP to be able to route to the first master node, and then you can continue with the rest of the operation after the cluster is up.

[2020-09-07 02:20] duanjiong commented on #125
You can refer to this https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/#stacked-control-plane-and-etcd-nodes.

[2020-09-08 05:03] wangxin311 commented on #125
This is not related on how to spin up HA cluster.

Here are some discussions regarding of the issues I am talking about on metallb repo, FYI.

https://github.com/metallb/metallb/issues/168

[2020-09-27 03:57] yinjiayi opened #126 "Is there any plan to support arm64 ?"
Is there any plan to support arm64, such as kunpeng 920

[2020-09-27 04:02] zheng1 commented on #126
Will support ARM in the next version

[2020-09-28 01:26] duanjiong commented on #126
/assign @duanjiong

[2020-10-20 07:27] xmapst opened #127 "eip_config中的地址可以支持数组模式吗"
默认只支持字符串类型
[code]
能不能实现为以下类型的
[code]

[2020-10-20 07:30] duanjiong commented on #127
It's not supported at the moment, you can submit a pr to change it.

[2020-10-20 08:03] xmapst commented on #127
但这修改意味着不向下兼容

[2020-10-27 03:14] duanjiong commented on #127
Yes, if some IPs are already in use, you may have to reassign them to the service, but that shouldn't be a problem.

[2020-10-27 03:15] #75 closed

[2020-10-27 03:15] #73 closed

[2020-10-27 03:16] #31 closed

[2020-10-27 03:51] duanjiong commented on #79
Use keepalived to maintain the vip, and then the user configure the EIP route in the non-bgp switch.

Daemonset can configure lvs,  then we can use the lvs DR mode to enhance the forwarding performance.

The architecture diagram is as follows：
![image](https://user-images.githubusercontent.com/3678855/97254837-3faed100-184a-11eb-8600-b3f8cf7541b1.png)

The data flow is as follows：
1. User sends re

[2020-10-27 03:53] #69 closed

[2020-10-27 06:06] duanjiong commented on #79
Similarly, the forwarding component can be replaced with xdp, ovs, dpdk, etc.

[2020-10-29 06:36] immanuelfodor commented on #125
If you are still looking for a HA cluster, I created a small, low-resource project that solves the problem, please take a look at https://github.com/immanuelfodor/kube-karp

[2020-11-04 07:05] #126 closed

[2020-11-04 07:24] duanjiong commented on #124
Porter doesn't restrict the manager to running on the master node.

[2020-11-04 10:50] duanjiong commented on #79
# Introduction to PorterLB and its cloud-native architecture

## What is PorterLB

[Porter](https://github.com/kubepshere/porter) is an open source load balancer designed for bare metal Kubernetes clusters. It's implemented by physical switch, and uses BGP and ECMP to achieve the best performance and high availability.  Porter also offer a Layer 2 mode for non-production use, such as testing.

If

[2020-11-08 16:22] pmbsa opened #131 "Are there any images for arm64?"
Hi, I am running a raspberrrypi 4 based cluster. Any chance there are images for arm64 kicking about someplace?

thanks
Paul

[2020-11-09 02:31] duanjiong commented on #131
We have just supported the arm version of the image, not yet put up, later on after the modified image and documentation, the link will be sent to you

[2020-11-15 16:11] pmbsa commented on #131
brilliant, thank you very much

[2020-11-27 07:53] laixiaohuai opened #135 "与kube-router 50051端口冲突"
你好，现在我用Porter的时候，与kube-router 50051端口冲突了，请问可以把Porter的50051端口修改为其他端口吗？

[2020-11-27 11:17] duanjiong commented on #135
You modify the porter-manager deployment yaml with args --api-hosts=":50052" or something like that, and we have the porter chart package under review, which you can also install later with the chart package, which is more convenient.

The link below is to the chart package
https://github.com/kubesphere/helm-charts/pull/118

[2020-11-30 03:17] laixiaohuai commented on #135
0.3可以用于Kubernetes 1.14.4吗？我看文档现在标识是最低1.17版本以后，还有，现在porter可以用于生产吧？

[2020-11-30 03:53] duanjiong commented on #135
We recommend using the new release, which is more fully tested and ready for production. The specific adaptation of 1.14 can be verified by yourself. Since the k8s is iterating faster, we give priority to the higher version during the development process, and you can give feedback in advance if you have any problem in the process.

I've looked around, and the api used hasn't changed much, so there

[2020-11-30 08:17] laixiaohuai commented on #135
![image](https://user-images.githubusercontent.com/14883388/100584408-0a087680-3327-11eb-847d-3fbea22b4588.png)
porter manager port is 17900
porter manager global.config already set using-port-forward=true
but my switch(H3C) BGP not support change 179
Now how would I do that?

[2020-11-30 09:50] duanjiong commented on #135
You can try the following command on the node where the porter manager is located, and replace the relevant IP in the command

iptables -t nat -A PREROUTING -s ${SWITCH_IP} -p tcp --dport 179 -j DNAT --to-destination ${MANAGER_POD_IP}:17900

[2020-11-30 09:56] duanjiong commented on #135
You are using the wrong version, please install with the latest link!
I removed the using-port-forward configuration in the latest version.

https://github.com/kubesphere/porter/blob/master/doc/deploy.md

[2020-11-30 10:48] laixiaohuai commented on #135
你好。0.3.1 agent不能起来！
agent log 报错信息：
standard_init_linux.go:211: exec user process caused "exec format error"

[2020-11-30 10:55] duanjiong commented on #135
Go to the Chinese forum to discuss, before you discuss, you better install a clean environment with the latest links!

[2020-12-03 07:41] willzhang commented on #135
latest links is master branch? i have the same agent error:
[code]

my proterlb version v0.3.1

[code]

[2020-12-03 10:39] duanjiong commented on #135
0.3.1 is deprecated, please remove all 0.3.1 components and install with the latest master branch documentation.

[2020-12-05 05:07] willzhang opened #137 "why layer2 have Single point of failure"
why layer2 have Single point of failure, when the node down ,how can i recover?

is there have a Solution Avoid single point of failure？

[2020-12-05 06:06] duanjiong commented on #137
In this mode the ip/mac addresses are one-to-one, which means that the packet can only be forwarded to a specific node, but if the node hangs, the service's corresponding endpoint will sense it and the porter will point the mac address to another node.

[2020-12-05 10:54] willzhang commented on #137
get the ip address
[code]

[code]
then stop that nodes
[code]

can not ping

[code]

how can i recover?

[2020-12-05 11:11] willzhang opened #138 "how to uninstall porterlb"
install
[code]

uninstall
[code]

the eip can not be deleted
[code]

[2020-12-05 11:13] willzhang commented on #138
i must delete finalizers，any other way?
[code]

[2020-12-05 11:44] duanjiong commented on #137
You can set the service traficpolicy to local, where the nexthop additions of cluster types don't filter the notready nodes, we'll fix that later.

[2020-12-05 11:47] duanjiong commented on #138
You should delete the eip first, then uninstall it, where you can just delete the comment and the eip will be deleted automatically.

[2020-12-05 11:48] #124 closed

[2020-12-11 01:34] #138 closed

[2020-12-22 07:30] yzz-ihep opened #139 "no bgp router but porter working in another way?"
There is a bgp router in our networke, but we didn't use it.
porters bgp configuration is:
[code]
and we define a ip pool.
When we deploy a web service, it gets an ip from ip pool and we can "curl" this ip,.
But we can't find that ip in route table.

I want to know how does this work?

[2020-12-22 08:45] duanjiong commented on #139
It's possible that you are accessing from the same network as the k8s cluster, and the k8s node is answering the arp directly, so you can access it. You can try to turn on strictARP on kube-proxy, so you should not be able to access it.

[2020-12-22 11:32] yzz-ihep commented on #139
I turned on strictARP, but I can still access it by ip 192.168.37.22.
svc is the following
[code]

[2020-12-22 14:10] duanjiong commented on #139
Restarted kube-proxy?

[2020-12-22 14:13] yzz-ihep commented on #139
yes, of course.

[2020-12-23 02:43] duanjiong commented on #139
You can try to remove the ip mac address from the ip neigh, then try pinging again, maybe the mac address is cached

[2020-12-23 06:36] yzz-ihep commented on #139
The reason is calico, it creates a tun.

[2020-12-23 06:36] #139 closed

[2020-12-31 08:01] zheng1 commented on #79
Related: https://github.com/kubernetes-retired/contrib/tree/master/keepalived-vip

[2021-01-06 07:37] pyfs commented on #127
the same requirement

[2021-01-27 04:39] FeynmanZhou opened #145 "Roadmap list for Porter"
As the [CNCF sandbox application](https://docs.google.com/forms/d/1bJhG1MuM981uQXcnBMv4Mj9yfV5_q5Kwk3qhBCLa_5A/viewform?edit_requested=true) requires a clear roadmap for the project, we need to list out the roadmap on Github repo, please refer to the [KubeSphere Roadmap](https://github.com/kubesphere/kubesphere/blob/master/docs/roadmap.md) for the template.

[2021-01-27 08:58] duanjiong commented on #131
The arm version of the image has been built and uploaded, e.g. kubespheredev/porter

[2021-01-27 08:58] #131 closed

[2021-01-27 08:58] #118 closed

[2021-01-27 08:59] #96 closed

[2021-01-27 08:59] #45 closed

[2021-01-27 09:02] #63 closed

[2021-01-27 09:19] #135 closed

[2021-01-27 09:54] FeynmanZhou commented on #131
Do we need to add a guide for installing Porter on the ARM64 platform?

[2021-01-27 09:56] duanjiong opened #150 "Installation tool integrates node network topology information"
When adding nodes using the k8s installation tool, you can specify which rack the node is in, what the as number is, whether it is an rr node, and other information. Use the above information to add annotation or label to the node to better establish a bgp connection later.

[2021-01-27 09:58] duanjiong opened #151 "Integration with calico, reuse of calico bgp functions"
calico can also announce the service ip, where the porter can act as an IPAM to assign addresses.
https://docs.projectcalico.org/networking/advertise-service-ips

[2021-01-27 11:33] pmbsa commented on #131
I should be ok without a specific guide I would have said. Cant speak for anybody else though. Thank you for getting those images in place. appreciate it.

[2021-01-27 11:39] FeynmanZhou commented on #131
@pmbsa Well. Welcome to join [Slack](https://join.slack.com/t/kubesphere/shared_invite/enQtNTE3MDIxNzUxNzQ0LTZkNTdkYWNiYTVkMTM5ZThhODY1MjAyZmVlYWEwZmQ3ODQ1NmM1MGVkNWEzZTRhNzk0MzM5MmY4NDc3ZWVhMjE) to communicate with our community. We would like to help if you have any questions about running Porter on raspberrypi 4 based cluster : )

[2021-01-28 06:43] duanjiong opened #154 "support ipv6 in bgp & layer2 mode"

[2021-02-04 05:24] caffeinism opened #166 "The priority of the router ID automatically selected in BgpConf."
The document says:
[code]

Currently, my worker node has 2 NICs. However, the automatically detected routerId is different from the NIC I want. Is there any way I can give this priority? (Example, as the interface name of the host)

[2021-02-04 07:03] duanjiong commented on #166
If you don't specify it now, the router id is taken from node.status.Addresses, which is only used to indicate the router, not to connect to bgp, so you can just specify one.

[2021-02-06 14:08] FeynmanZhou opened #176 "Add a document: how to use Porter on KubeSphere"
Please add a guide to introduce how to use Porter on KubeSphere based on [this guide](https://github.com/kubesphere/porter/blob/master/doc/use-porter-in-layer-2-mode.md).

[2021-02-07 03:01] FeynmanZhou commented on #176
/assign @Patrick-LuoYu

[2021-02-07 14:29] zheng1 opened #180 "Add a more simple load balance mode"
Just like https://github.com/rancher/klipper-lb
Introduction: https://rancher.com/docs/k3s/latest/en/networking/#how-the-service-lb-works

[2021-02-16 04:43] #166 closed

[2021-02-18 09:37] duanjiong opened #187 "Add events and logs in key places during service processing"
Add events and logs in key places during service processing, such as allocate and release EIP, GoBGP synchronization Nexthop, Layer2 mode selection Node

[2021-02-22 05:09] Elegant996 commented on #151
With the imminent release of calico 3.18, calico can also announce LoadBalancer IPs. If one so chooses, they should be able to define an EIP resource and not require the BGP resources (handled by calico).

The is relegates porter to only assigning IPAM addresses but should be a viable option for cluster configuration.

[2021-02-22 06:57] duanjiong commented on #151
Yes, you are right, this is also easy to modify in the porter, we will also modify immediately.

[2021-02-22 09:08] Mrtao1028 opened #188 "visit external IP failed (Connetction refused) from unloaded node while service externalTrafficPolicy=Local"
visit external IP failed (Connetction refused) from unloaded node while service  externalTrafficPolicy=Local

test workload assigend to `node3, node4`
connect from `node1,node2` get `Connect refused`
connect from `node3,node4` get `correct response`
connect from outside the cluser  get  `correct response`

test yaml
[code]

env:
k8s version:1.17.9
os: debian 9
kernel version: 4.9.0

--------------

[2021-02-22 09:20] FeynmanZhou opened #189 "Rename Porter to PorterLB"
A couple of reasons from my consideration:

1. There is a CNCF sandbox project [Porter](https://porter.sh) already
2. The domain name is `porterlb.io`
3. LB means Load Balancer, it might be easier to understand and memorize the project feature.

If you agree to change Porter to PorterLB, please comment on this issue and make the relevant changes accordingly.

[2021-02-22 09:24] FeynmanZhou commented on #189
/assign @kubesphere/toc @duanjiong @Patrick-LuoYu

[2021-02-22 09:32] Patrick-LuoYu commented on #189
Agree. PorterLB sounds better to me.

[2021-02-22 12:41] Mrtao1028 commented on #188
Maybe  fixed by [#97081](https://github.com/kubernetes/kubernetes/issues/93456)

[2021-02-22 12:41] #188 closed

[2021-02-27 12:45] Mrtao1028 opened #191 "BGP router only learn one bgp route"
test service use EIP 10.17.140.0,  the pod assigned to two Node (10.17.64.109, 10.19.66.167),
![image](https://user-images.githubusercontent.com/7741839/109387291-8ff28880-793b-11eb-81bd-506e13c7c336.png)
`porter-manager` can find 2 routes
![image](https://user-images.githubusercontent.com/7741839/109387331-d34cf700-793b-11eb-9bec-efdf257684ec.png)

but bgp neighbor only learn one route  `10.17.14

[2021-03-01 02:45] duanjiong commented on #191
You can follow the steps below to see if add-path is not enabled by checking the relevant configuration properties of neighbor
[code]

[2021-03-01 03:07] duanjiong commented on #191
You can reference this doc https://github.com/osrg/gobgp/blob/master/docs/sources/add-paths.md

[2021-03-01 06:18] Mrtao1028 commented on #191
3Q,
enable `add-paths`  can learn  right routes
![image](https://user-images.githubusercontent.com/7741839/109459036-f50fc080-7a98-11eb-9717-690b3ab69174.png)

[code]

[2021-03-01 06:18] #191 closed

[2021-03-01 08:33] FeynmanZhou commented on #189
So far, most of the project maintainers have agreed with this proposal. Can we start to update the project name including the Github repository and website?

[2021-03-01 09:53] duanjiong commented on #189
Of course you can, you may need someone with permission to rename the repository, and then I'll change the name of the imported package in the code later

[2021-03-01 09:54] FeynmanZhou commented on #189
Ok, I got it.

[2021-03-11 06:19] FeynmanZhou commented on #189
The repository and project name has been renamed. Resolved and closed.

[2021-03-11 07:00] duanjiong opened #194 "support multi-cluster service"
Sometimes we deploy applications in multiple clusters in different locations, and this time the porter has to consider how to expose the multi-cluster services

[2021-03-12 08:47] #127 closed

[2021-03-12 08:50] duanjiong commented on #70
porter does not apply to headless service, headless servcie requires real users to choose the back-end pod according to their needs

[2021-03-12 08:50] #70 closed

[2021-03-16 08:49] #145 closed

[2021-03-17 08:01] duanjiong opened #195 "Add a resource limit to the job that generates the secret"
Otherwise the pod will fail to be generated, resulting in the failure of secret generation

[2021-03-26 04:30] ruckc opened #200 "invalid eip address format"
I'm trying to use porterlb, but the validation webhook is failing a copy+paste of the documentation's [layer2 ](https://porterlb.io/docs/getting-started/configuration/configure-ip-address-pools-using-eip/#configure-an-eip-object-for-porterlb) example.

I get this output from the eip yaml:

`admission webhook "validate.eip.network.kubesphere.io" denied the request: invalid eip address format`

[cod

[2021-03-26 04:32] ruckc commented on #200
nvm... stupid copy+paste mistake.

[2021-03-26 04:32] #200 closed

[2021-04-26 07:40] yunkunrao commented on #194
/kind proposal

[2021-04-29 12:49] #189 closed

[2021-05-10 02:14] felix0080 opened #204 "hi , everyone"
I am very happy to see this project, I need some help manual, and some simple tasks, to join the project development

[2021-05-12 09:22] zheng1 commented on #204
Here is some good first issue:

https://github.com/kubesphere/porterlb/issues/187 https://github.com/kubesphere/porterlb/issues/180 https://github.com/kubesphere/porterlb/issues/151

[2021-05-13 00:32] felix0080 commented on #187
/assign

[2021-05-13 03:13] felix0080 commented on #187
@zheng1 assign this issues to me please

[2021-05-13 03:21] zheng1 commented on #187
@felix0080 done

[2021-05-13 03:26] felix0080 commented on #187
thank you

[2021-05-18 04:20] FeynmanZhou commented on #204
@felix0080 You can also join our Slack channel or WeChat group to connect with the KubeSphere and PorterLB community. You can find the entry from https://kubesphere.io

[2021-06-01 04:01] JesseStutler commented on #180
Hi, I'm interested in participating in this PorterLB project of Summer-ospp. I had used a similar tool called MetalLB in layer 2 mode. Because we have a bare metal k8s cluster in real life and felt troubled in how to get a external-ip for load balance service without a cloud provider. Therefore the experience makes me soon to understand how PorterLB works.
Anyway, it's easy to understand how BGP m

[2021-06-03 11:01] zheng1 commented on #180
@JesseStutler
We are very glad that you have noticed our project.
Here are the replies to your questions.
1. After PorterLB deployed there will be Daemonset running on each node, use this Daemonset to configure iptables rules. The difference with NodePort is that NodePort uses 30000-32767 by default, but usually the application prefers to use its own port on the Node IP (e.g. 8000 or 8080 directly

[2021-06-04 02:05] JesseStutler commented on #180
@zheng1
Thx.Does PortLB use the same port as LB service declares? Seems that the controller will automatically detect a Service LB's creation and configure iptables rules, there is no yaml declared in the process to control what ports can Service LB use.But what if the ports on the nodes have already been used..? 8000 or 8080 etc are popular ports. How can the controller adjust its behavior?

[2021-06-04 08:13] zheng1 commented on #180
Yes

It is possible to run multiple Services on the same node, as long as they use different ports.
If you try to create a Service LB that listens on port 80, the Service LB will try to find a free host in the cluster for port 80. If no host with that port is available, the LB will stay in Pending.

[2021-06-09 14:00] JesseStutler commented on #180
So I had thought about it, we can just do the same work as nodeport service?
Sounds like add some iptables rules to the KUBE-NODEPORTS chain on all cluster's nodes, because this mode also matches dst-type LOCAL.And then we can add a -j KUBE-MARK-MASQ rule and a -j KUBE-SVC-XXX rule like `iptables -t nat -A KUBE-NODEPORTS -p tcp -m tcp --dport=8080 -j KUBE-SVC-XXX` to do DNAT to the pod's endpoint.

[2021-06-24 03:28] FeynmanZhou opened #205 "Rename PorterLB to a new name"
As we were going to contribute PorterLB to the CNCF sandbox, and it was not accepted in the first round of review since the [project name conflicts with a current sandbox project](https://lists.cncf.io/g/cncf-toc/topic/sandbox_inclusion_meeting/83720446?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,83720446), so we need to reapply with a new project name.

We are now looking for a new project na

[2021-06-24 03:36] benjaminhuo commented on #205
MagicLB

[2021-06-24 03:36] FeynmanZhou commented on #205
KubeLB

[2021-06-24 03:37] calvinyv commented on #205
OneLB

[2021-06-24 03:37] calvinyv commented on #205
LBMesh

[2021-06-24 03:37] calvinyv commented on #205
MeshLB

[2021-06-24 03:42] VioZhang commented on #205
OpenLB

[2021-06-24 03:45] dkeven commented on #205
LightLB

[2021-06-24 03:48] zhu733756 commented on #205
KubePorterPlus

[2021-06-24 03:52] stoneshi-yunify commented on #205
MetalB

[2021-06-24 03:52] penghuima commented on #205
NativeLB

[2021-06-24 03:54] yuswift commented on #205
KSLB

[2021-06-24 03:55] dkeven commented on #205
AtomLB

[2021-06-24 03:58] Patrick-LuoYu commented on #205
PlatinumLB

[2021-06-24 04:01] VioZhang commented on #205
HeliumLB

[2021-06-24 04:04] Patrick-LuoYu commented on #205
CaliforniumLB. Californium seems to be the most precious metal in the world.

[2021-06-24 04:05] Patrick-LuoYu commented on #205
ChromiumLB. Chromium seems to be the hardest metal.

[2021-06-24 04:06] FeynmanZhou commented on #205
It is not easy to memory from my opinion...

[2021-06-24 04:07] zheng1 commented on #205
OpenELB. ELB is from https://aws.amazon.com/elasticloadbalancing/

PorterLB currently implements more than one LB type, which can be compared to OpenEBS and AWS EBS.
OpenEBS is a family of products that you can use with the many different engines it offers: Jiva, cStor, Local Volumes, Mayastor.
PorterLB will add more types of LB implementations in the future. Just like AWS ELB is a product family

[2021-06-24 04:08] Patrick-LuoYu commented on #205
IronLB

[2021-06-24 04:17] VioZhang commented on #205
NbLB, which means "New balance Load Balance"...

[2021-06-24 04:27] j4ckzh0u commented on #205
FastLB

[2021-06-24 04:47] Patrick-LuoYu commented on #205
Mithril

[2021-06-24 04:47] Patrick-LuoYu commented on #205
Orichalcos

[2021-06-24 04:49] JohnNiang commented on #205
LessLB
MoreLB

[2021-06-24 04:51] Patrick-LuoYu commented on #205
Khorium

[2021-06-24 04:52] tpiperatgod commented on #205
KubeScaler or ScalerLB or SphereScaler, "scaler" means "秤" => "天平" => "Balance"...

[2021-06-24 04:57] Patrick-LuoYu commented on #205
Vibranium

[2021-06-24 04:58] Patrick-LuoYu commented on #205
Adamantium 亚曼德合金

[2021-06-24 05:01] serenashe commented on #205
InfinityLB

[2021-06-24 05:09] 24sama commented on #205
stitches. In ancient times, it was used to stitch armor and armor. Now, it is used to stitch bare-metal and bare-metal.

[2021-06-24 05:15] junotx commented on #205
courier 快递员

[2021-06-24 05:15] zackzhangkai commented on #205
HostLB

[2021-06-24 05:19] benjaminhuo commented on #205
LibraLB

[2021-06-25 07:22] #21 closed

[2021-06-29 13:03] hade94 opened #206 "Service doesnt get external IP adress"
Hi guys,

after successfully installing porterLB to my cluster and deploying some test deployments i wanted to deploy the nginx ingress proxy with an external ip adress provided by porterLB.

Unfortenately this error occured and the service external ip stays in the status "pending".
[log#.txt](https://github.com/kubesphere/porterlb/files/6733557/log.txt)

Any ideas?

[2021-06-29 13:11] hade94 commented on #206
After applying the porterlb annotations after the services was deployed, it worked ;)

[2021-06-29 13:11] #206 closed

[2021-07-06 03:01] FeynmanZhou commented on #205
So far, most people voted for the new name `OpenELB`, so we choose to rename PorterLB to OpenELB.

[2021-07-30 13:14] ldseraph opened #211 "bgp模式 bgp路由 配置不成功"
麻烦看一下，我的配置哪里错了。

我在minikube+kubesphere+openelb+bird中测试bgp模式，发现路由配置不成功。
环境
kubernetes-version v1.20.9
kubesphere v3.1
openelb  https://charts.kubesphere.io/test 0.4.1 默认配置
bird v1.6.4
kubesphere与openelb 的安装步骤都是按照文档中做的。

配置如下

apiVersion: network.kubesphere.io/v1alpha2
kind: BgpConf
metadata:
  name: default
spec:
  as: 50000
  listenPort: 17900
  routerId: 192.168.49.2

apiVersion: network.kubesphe

[2021-08-22 12:10] macaty commented on #205
greate

[2021-08-30 14:38] pangfd opened #213 "Openelb负载均衡策略"
请教一下，怎么设置Openelb的负载策略呢，比如基于IP、轮训、权重？不然在做灰度测试或者分流的时候没法做

[2021-09-06 09:41] KONY128 opened #214 "Proposal: a more simple way to expose LoadBalancer Service by OpenELB"
# Proposal: a more simple way to expose LoadBalancer Service by OpenELB

### Idea

A new mode `LB Service` is developed for OpenELB, which has the following features:

- The LoadBalancer Service can be accessed directly through the IP address and service port of a Kubernetes cluster node, rather than using the NodePort method.
- OpenELB automatically selects a Kubernetes cluster node whose port co

[2021-09-06 09:42] KONY128 commented on #180
A proposal is made at here: https://github.com/kubesphere/openelb/issues/214

[2021-09-13 07:11] FeynmanZhou commented on #213
IMO, this is not the goal for OpenELB, you can take a look at the definition and documents of OpenELB. You may need to consider Nginx or HAproxy to implement these strategies.

[2021-09-13 07:11] #213 closed

[2021-10-05 08:42] FeynmanZhou commented on #187
Hi @felix0080,

Any updates on this issue?

[2021-11-01 03:47] Nctllnty opened #219 "openelb real ip acquisition problem"
When using openelb to expose the external access of the service, it was found that the real ip of the client could not be obtained. Ask for your opinions and solutions.

[2021-11-01 03:48] Nctllnty commented on #219
i user Layer 2 Mode

[2021-11-01 07:22] xyz-li commented on #219
@xyz-li

[2021-11-01 07:22] xyz-li commented on #219
/assign @xyz-li

[2021-11-01 07:25] xyz-li commented on #219
Can you provide more information, such as the error log, or your network environment?
@Nctllnty

[2021-11-01 07:33] Nctllnty commented on #219
**nginx LoadBalancer service config**
`kind: Service
apiVersion: v1
metadata:
  name: nginx
  namespace: zhangff-test
  labels:
    app: nginx
    eip.porter.kubesphere.io/v1alpha2: layer2-eip-177
  annotations:
    eip.porter.kubesphere.io/v1alpha2: layer2-eip-177
    layer2.porter.kubesphere.io/v1alpha1: centos-176.10
    lb.kubesphere.io/v1alpha1: porter
    protocol.porter.kubesphere.io/v1alph

[2021-11-01 08:38] xyz-li commented on #219
https://porterlb.io/docs/getting-started/usage/use-porter-in-layer-2-mode/
Have you enabled the filed `strictARP`?

![image](https://user-images.githubusercontent.com/6263928/139644725-16a5f786-fdf4-4ea9-b3de-55d7a5255a9e.png)

[2021-11-01 08:44] Nctllnty commented on #219
it's enabled
![image](https://user-images.githubusercontent.com/33241818/139645431-3a34122c-5a2e-4a95-9597-2fd2be0ec514.png)

[2021-11-01 08:50] xyz-li commented on #219
Can you provide the logs of porter-manager?

[2021-11-01 09:11] Nctllnty commented on #219
![image](https://user-images.githubusercontent.com/33241818/139648931-7d065834-c757-4151-a938-8558f5dc8f08.png)

[2021-11-01 09:21] Nctllnty commented on #219
last 3 Days
[logs.txt](https://github.com/kubesphere/openelb/files/7452089/logs.txt)

[2021-11-01 09:34] xyz-li commented on #219
You can access the server, but the nginx can not get the client ip?

[2021-11-01 09:38] Nctllnty commented on #219
yes

[2021-11-02 02:33] xyz-li commented on #219
There is NO way to get the client IP now.

[2021-11-05 09:00] wangshiyang opened #220 "Configure an Eip Object for PorterLB error"
when i create a config file for "kubectl apply" , i am get a error:

[code]

porterlb install command:

`kubectl apply -f https://raw.githubusercontent.com/kubesphere/porter/master/deploy/porter.yaml`

my eip-config.yaml:
`cat eip-config.yaml`

[code]

`kubectl apply -f  eip-config.yaml`

[code]

pod logs:
`kubectl logs -n porter-system porter-manager-66c9764d9-6dbz6`

[code]

[2021-11-05 10:49] benschmi opened #221 "Unpredictable Node IP addresses"
Hi,
my nodes have two interface, one public interface, for which I want to use my cloud providers CCM LB and one private interface for which I want to use OpenELB in layer 2 mode. According to the documentation I need to annotate my nodes with `layer2.porter.kubesphere.io/v1alpha1="<node_IP>"`.
However, due to cluster autoscaling, new nodes are constantly being added to and deleted from my cluster

[2021-11-12 06:54] zheng1 commented on #221
At the moment you can only add annotations to the node manually.  But I thought of a way for you to see if it solves your problem: **add a configuration item that uses a regex to match the NIC name**

Can you give me some advice? @benschmi

[2021-11-12 07:40] zheng1 commented on #220
Hi, can you post the return value of the following command?
[code]

[2021-11-12 09:51] benschmi commented on #221
Hi @zheng1 ,  thanks for your reply.
Unfortunately, in my environment the NIC name is not predictable since it's based on the virtual PCI-slot.
You need to identify the correct NIC, right? Why not use the network CIDR for identification? So instead of an individual IP address you allow the user to set the IP subnet in CIDR format.

[2021-11-16 04:35] tqtcloud opened #222 "Cannot get routing entries after bird configuration"
System: centos7.9
kubernetes: 1.20.6
The operation is as follows:

[2021-11-16 04:35] tqtcloud opened #223 "Cannot get routing entries after bird configuration"
System: centos7.9
kubernetes: 1.20.6
The operation is as follows:

[2021-11-16 04:47] tqtcloud commented on #223
yum install -y bird
cat /etc/bird.conf
  router id 192.168.8.12;

protocol kernel {
    scan time 60;
    import none;
    export all;
    merge paths on;
}

protocol bgp neighbor1 {
    local as 50001;
    neighbor 192.168.0.2 port 17900 as 50000;
    source address 192.168.8.12;
    import all;
    export all;
    enable route refresh off;
    add paths on;
}
systemctl status bird.service      C

[2021-11-25 13:39] ljmict commented on #220
我遇到了同样的问题

[code]

查看事件
[code]

[2021-12-12 16:18] liangyuanpeng opened #227 "[CNCF Check List] Migrate project to OpenELB org"
OpenELB is CNCF project now and we need migrate project to [OpenELB org](https://github.com/openelb) for [CNCF check list of OpenELB](https://github.com/cncf/toc/issues/743)

[2021-12-12 16:26] liangyuanpeng commented on #227
/cc @FeynmanZhou

[2021-12-13 03:12] FeynmanZhou commented on #227
Yes, I will migrate this repo to OpenELB org soon. @zheng1 Could you please verify if this migration has no effect on the current project usage.

[2021-12-13 12:27] zheng1 commented on #227
@FeynmanZhou LGTM, please do it

[2021-12-13 16:49] FeynmanZhou commented on #227
Hi team,

I have transferred the OpenELB repo to the [OpenELB organization](https://github.com/openelb/openelb) as CNCF is needed.

[2021-12-14 04:18] #227 closed

[2021-12-27 02:44] chaunceyjiang commented on #221
@benschmi @zheng1
I think we should listen to all interfaces.
That might sound like a problem, but because of the way ARP works, only clients on the right network will know to look for the service IP on the network.

[2021-12-27 02:55] chaunceyjiang opened #229 "Feature : Layer 2 support ipv6"
Hi, is this feature being implemented? if not , i want to try to implement this feature.
As far as I know,
IPv4 use ARP ,IPv6 use [NDP](https://en.wikipedia.org/wiki/Neighbor_Discovery_Protocol)

Reference
https://en.wikipedia.org/wiki/Neighbor_Discovery_Protocol
https://github.com/openelb/openelb/blob/master/doc/roadmap.md#v070

[2021-12-27 03:00] FeynmanZhou commented on #229
Hi @chaunceyjiang ,

It was listed in the roadmap but it was also pending for so long. We are glad to see your interest in contributing to this feature. You can assign it to yourself if you want.

[2021-12-27 03:03] chaunceyjiang commented on #229
/assign @chaunceyjiang

[2021-12-27 04:00] lxm opened #231 "feature request: support assign eip by default with a config to controller"
In most public iaas provider , we can create a service with `LoadBlancer` type to get a external IP for services.

Currently ,we must set some annotations to the service so that `openelb` will assign a external ip to the service.

How about add a config for the controller, like `AllService: true`, so that openelb will process all the service with `LoadBlancer` type

[2021-12-27 04:07] FeynmanZhou commented on #229
/kind feature

[2021-12-29 07:59] FeynmanZhou commented on #231
IMO, this feature request is reasonable, it is necessary to implement it before we [integrate OpenELB to KubeSphere](https://github.com/kubesphere/kubesphere/issues/4574).

[2021-12-29 13:26] lxm opened #232 "Proposal: eip add default attribute"
# support assign eip by default with a config to controller
while this is a eip-pool with `default=true` , then process service with type `LoadBlancer` with openelb

- [ ] add a new attribute to eip resource
- [ ] add a admission to check there can only one eip pool can be set to default
- [ ] check if there exist default eip, when exists process all service with type `LoadBlancer` with openelb to

[2021-12-29 14:58] lxm commented on #232
agree with you

[2022-01-01 14:24] Qiaoruiwu opened #233 "install porter err porter-admission-patch"
![089f4d40cdd09b5f80650a17af6375a](https://user-images.githubusercontent.com/27501328/147852685-343604fe-86b9-4ce0-93a7-35827fe449e4.png)
![1468e15cebdb208015133d49fef4a67](https://user-images.githubusercontent.com/27501328/147852687-c28cba4a-e656-4f0d-bbe6-0f2e56d75a0d.png)
[root@classiclaw ~]# kubectl logs -n porter-system porter-admission-patch--1-srzrl
W0101 12:57:15.992168       1 client_conf

[2022-01-03 17:31] viceice commented on #229
- related to #154

[2022-01-04 10:10] FeynmanZhou commented on #229
Yes, we could close that issue since it is not active anymore. We can track it via this issue from now on.

[2022-01-04 10:10] #154 closed

[2022-01-05 02:25] chaunceyjiang commented on #233
This bug causes kube-webhook-certgen to bail/fail on Kubernetes 1.22

https://github.com/jet/kube-webhook-certgen/issues/30

[2022-01-06 04:15] liangyuanpeng commented on #220
I think it will resove in https://github.com/openelb/openelb/pull/234.

[2022-01-07 02:03] #220 closed

[2022-01-07 02:41] chaunceyjiang commented on #229
https://github.com/kubernetes/kubernetes/pull/107235
https://github.com/kubernetes/enhancements/pull/1992

[2022-01-10 02:02] chaunceyjiang commented on #231
Maybe that's what you want?

https://kubernetes.io/docs/concepts/services-networking/service/#load-balancer-class

[2022-01-10 03:43] zryfish commented on #233
/pony

[2022-01-10 03:43] zryfish commented on #233
/meow

[2022-01-11 04:01] chaunceyjiang commented on #231
If `allservice: true` is assigned,  openelb will use what protocol  to process all Service?  layer2?

[2022-01-11 04:27] #233 closed

[2022-01-15 01:47] xewn opened #237 "如何使用呢？"
在kubeshpere中安装后，如何配置使用呢？
我主要是用K8S部署web api，通过openresty负载。

[2022-01-20 07:49] #232 closed

[2022-01-21 12:13] #231 closed

[2022-01-25 08:22] chaunceyjiang commented on #237
This document may help you.
https://openelb.github.io/docs/getting-started/usage/

[2022-01-25 10:28] shiwu32 opened #238 "安装openelb后，再安装ingress-nginx报错？"
实验环境：kubekey在centos7安装kubernetes

#1 安装openELB控制器
kubectl apply -f https://raw.githubusercontent.com/kubesphere/porter/master/deploy/porter.yaml
#2 vim eip.yaml
root@master01:~# cat eip.yaml
apiVersion: network.kubesphere.io/v1alpha2
kind: Eip
metadata:
  name: eip-pool
spec:
  address: 172.26.196.91-172.26.196.92
  protocol: layer2
  interface: eth0 ## 网卡的名称
  disable: false

kubectl apply -f eip

[2022-01-26 02:10] chaunceyjiang commented on #238
Maybe your `porter-manager` doesn't start normally.
Run the following command to check whether the status of porter-manager is `READY: 1/1` and `STATUS: Running`. If yes, PorterLB has been installed successfully.
[code]

[2022-01-26 02:15] chaunceyjiang commented on #238
This may be the reason.
https://github.com/openelb/openelb/blob/master/deploy/porter.yaml#L1146-L1147

[2022-01-26 03:27] FeynmanZhou commented on #238
+1. This reminder should be noticed in the OpenELB documentation.

[2022-02-04 01:10] ilanni2460 opened #240 "Roadmap写的很好，但是开发速度太延迟了"
非常感谢，你们的开源，也一直在关注

Roadmap，看你们也写了很不错，但是感觉开发速度有点慢哦，希望加快速度，谢谢，辛苦了

[2022-02-07 09:52] zheng1 opened #241 "Rename porterlb to openelb"
Although we have changed the name of the project to openelb. But there are still many things that need to be corrected.

- [ ] porter in the code
- [ ] porter in the website
- [ ] porter in the URL
- [ ] porter in the documentation
- [ ] porter in the docker image repo

[2022-02-17 04:01] FeynmanZhou commented on #241
How's this issue going?

[2022-02-17 05:56] FeynmanZhou commented on #241
IMO, the [Helm chart](https://github.com/kubesphere/helm-charts/tree/master/src/test/porter) is also supposed to be renamed and moved to this organization.

[2022-02-17 05:59] webup commented on #220
Dear, I use latest `deploy.yaml`, and error became: `x509: certificate is valid for porter-manager, porter-manager.porter-system.svc, not porter-admission.porter-system.svc`

[2022-02-17 10:13] renyunkang commented on #241
The code has been changed, I am testing

I am changing the code and testing

[2022-02-17 10:14] renyunkang commented on #241
I am changing the code and testing

[2022-02-18 05:42] FeynmanZhou commented on #240
Thanks for your suggestion. The iteration is being accelerated, you are welcome to contribute any feature request or code to OpenELB : )

[2022-02-18 05:42] #240 closed

[2022-02-18 11:38] zheng1 opened #243 "i18n website"

[2022-02-18 11:39] renyunkang opened #244 "[Feature] Provide the OpenELB Web UI for managing EIP and IP pool"
### What we need
In the case of using openelb as the kubernetes load balancing implementation, the allocation of openelb external-ip-pool can only be viewed on the terminal interface by accessing kubernetes resources with kubectl. However, more and more kubernetes users are using specific dashboards to operate and manage clusters or workloads, such as kubesphere. Therefore, the current usage is no

[2022-02-18 15:37] renyunkang opened #245 "[Feature] Support non-bgp switch"
### What we need
As we know, the current version of openelb supports both layer2 and bgp modes. This means that either the host's network can span network segments and there must be a switch that supports the bgp protocol, or the host is in a layer 2 network environment, only in this way can users install and use openelb. Therefore, if the swtich in the multiple network segments connecting the hos

[2022-02-18 15:41] renyunkang commented on #79
/close

[2022-02-25 08:56] quzhixue-Kimi commented on #238
kubectl apply -f https://raw.githubusercontent.com/kubesphere/porter/master/deploy/porter.yaml

It seems that https://raw.githubusercontent.com/kubesphere/porter/master/deploy/porter.yaml  404 not found.

Sorry for your inconvenience.
BR
Kimi

[2022-02-25 08:59] FeynmanZhou commented on #238
The file name has been updated to `openelb.yaml`, see https://github.com/openelb/openelb/issues/241.

Hi @renyunkang , could you please update the OpenELB documentation accordingly?

[2022-02-25 11:52] renyunkang commented on #238
ok, i will update OpenELB English documentation as soon as possible.

[2022-02-28 07:25] FeynmanZhou commented on #238
@quzhixue-Kimi ,

This issue has been fixed, you can follow the latest documents to install OpenELB.

Thanks

[2022-02-28 08:27] quzhixue-Kimi commented on #238
Hi there,

It is appreciated that you could provide me with the latest document on how to install the OpenELB.

Is that the latest one via https://openelb.github.io/docs/getting-started/installation/install-porter-on-kubernetes/?

![Screenshot (24)](https://user-images.githubusercontent.com/8235746/155949586-7baeeefe-3bff-4849-b37f-4139020ef04c.png)

It seems that the installation has not been upd

[2022-02-28 08:45] FeynmanZhou commented on #238
Please check out: https://openelb.github.io/docs/getting-started/installation/install-openelb-on-kubernetes/

It's too odd that the previous links are still available. We will investigate this problem.

[2022-02-28 09:01] quzhixue-Kimi commented on #238
Hi there,

Thank you for your feedback.
But, maybe, you may update the https://raw.githubusercontent.com/openelb/openelb/master/deploy/openelb.yaml
image: kubesphere/openelb:v0.4.3

It seems that the latest tag is v0.4.4 and, v0.4.3 could not be found via https://hub.docker.com/r/kubesphere/openelb/tags

BR
Kimi

[2022-02-28 09:05] FeynmanZhou commented on #238
Good catch. @renyunkang it looks like the image name is not up to date.
@quzhixue-Kimi Could you raise a GitHub PR to update it to v0.4.4?

[2022-02-28 09:11] FeynmanZhou commented on #238
Yes, it looks like this PR will fix it: https://github.com/openelb/openelb/pull/247/files

[2022-03-01 06:49] FeynmanZhou commented on #237
You can open it if this issue is not resolved.

[2022-03-01 06:49] #237 closed

[2022-03-04 03:09] renyunkang commented on #241
This issue has been resolved with these prs:

- https://github.com/kubesphere/helm-charts/pull/215
- https://github.com/openelb/openelb/pull/242
- https://github.com/openelb/website/pull/52

so I close it.
/close

[2022-03-04 03:09] #241 closed

[2022-03-07 10:22] liu01100115 opened #250 "kubesphere安装openelb之后 应用路由的网关ip本地可以访问，服务的LoadBalancer地址无法访问"
访问应用路由的网关地址可以访问到
![image](https://user-images.githubusercontent.com/32833737/157012851-68645103-6fff-4bb6-980a-9641879b97e9.png)

![image](https://user-images.githubusercontent.com/32833737/157012814-b2ce9b5b-78da-4a59-af28-bb6785a2c951.png)

访问服务的LoadBalancer地址无法访问

![image](https://user-images.githubusercontent.com/32833737/157012885-25e3cb49-620b-4ced-9fe7-7ade2faa03f7.png)

![image](https://us

[2022-03-07 10:43] zheng1 commented on #250
/cc @renyunkang

[2022-03-07 16:23] renyunkang commented on #250
Can you show the ip information of this machine and the yaml file of all related resources? eg: eip, service, Ingress.

[2022-03-08 01:55] liu01100115 commented on #250
![image](https://user-images.githubusercontent.com/32833737/157150368-468bb9df-927f-42ce-80bb-546d9d27d440.png)

![image](https://user-images.githubusercontent.com/32833737/157150389-cc747ea6-278b-4ba1-9010-8807f0a71a67.png)

service.yaml
kind: Service
apiVersion: v1
metadata:
  name: influxd-dev-office-influxdb
  namespace: middleware-longhui
  labels:
    app.kubernetes.io/component: influxdb

[2022-03-08 01:57] liu01100115 commented on #250
我把layer2.openelb.kubesphere.io/v1alpha1指向到master节点好像就可以访问了

[2022-03-08 03:18] renyunkang commented on #250
The annotation `layer2.openelb.kubesphere.io/v1alpha1` indicates which is the nexthop routing node when accessing the pod. Your issue is that the service cannot be accessed, not the pod.

[2022-03-08 03:27] renyunkang commented on #250
Maybe the service is being deleted when you ping the service's ip. Can you describe the steps to reproduce this bug?

[2022-03-08 07:21] gzymomo opened #251 "手动删除出现 Internal error occurred: failed calling webhook "mutating.eip.network.kubesphere.io": Post "https://openelb-0cb15g-manager....": service "openelb-0cb15g-manager" not found"
helm 安装 0.4.4 版本
在kubeshere 页面上删除，工作负载和任务
出现问题：集群无法更新svc ，无法创建新的deplyemnt 等
![image](https://user-images.githubusercontent.com/22019924/157185894-ff0a60a1-8d6c-49d9-ab7e-76fde478a07a.png)

已尝试删除所有openelb相关资源，EIP 配置文件无法删除
[code]

请问如果想彻底删除，还需要删除哪些资源，或者恢复集群网络正常

[2022-03-08 08:52] zheng1 commented on #251
/assign @renyunkang

[2022-03-08 08:59] gzymomo commented on #251
删除 MutatingWebhookConfiguration 然后就好了
[code]

[2022-03-08 09:15] gzymomo commented on #251
EIP 资源还是无法删除，显示有两个使用，如何释放该资源
![image](https://user-images.githubusercontent.com/22019924/157204973-cf435d2d-314a-4679-938a-d4c9fb60ba55.png)

两个Load Balancer的service 无法删除

[2022-03-09 03:03] gzymomo commented on #251
It works, i just delete the  finalizers field  and it disappear

[2022-03-10 09:10] #245 closed

[2022-03-28 12:16] ivanmissu opened #254 "根据文档创建后在ip neigh中没有找到LoadBalancer地址"
根据文档创建后在ip neigh中没有找到LoadBalancer地址, 而且为什么ip neigh显示的mac地址都是一样的 ，4台腾讯云服务器
node：
<img width="577" alt="image" src="https://user-images.githubusercontent.com/8721615/160395723-36768ebc-f0b1-40dd-917a-bb5acba3f038.png">
svc:
<img width="804" alt="image" src="https://user-images.githubusercontent.com/8721615/160395385-2af7d70e-7a3e-415b-962e-de8211172473.png">
ip neigh:
<img width="453" alt="image" sr

[2022-03-29 07:50] wbarnard81 opened #255 "failed calling webhook "validate.eip.network.kubesphere.io""
New k3s cluster in HA mode using etcd.
Installed OpenELB using helm.
EiP Yaml:
[code]
Error when applying yaml using kubectl apply -f porterlbeip.yaml -n ingress:
[code]

kubectl logs -n ingress porter-manager-fd6865678-729w8
[code]

kubectl get all -n ingress -o wide
[code]

[2022-03-29 08:03] renyunkang commented on #255
I'm guessing you installed openelb with [this documentation](https://porterlb.io/docs/). Sorry, the current document url has been changed to [openelb.github.io](https://openelb.github.io/docs/), please refer to [this](https://openelb.github.io/docs/) and try again.

[2022-03-29 08:25] wbarnard81 commented on #255
Thank you, that worked.

[2022-03-30 09:54] renyunkang commented on #254
You should not check the arp table on the nodes of the kubernetes cluster, you should check it on the client machine.

[2022-03-30 10:13] renyunkang commented on #254
You should not check the arp table on the nodes of the kubernetes cluster, you should check it on the client machine.

[2022-03-31 03:06] codering commented on #244
+1

[2022-04-05 15:47] FeynmanZhou opened #256 "The All-Contributor badge is broken and the statistics is not complete"
- [ ] The All-Contributor badge is broken:

<img width="899" alt="image" src="https://user-images.githubusercontent.com/40452856/161793281-7e7846a2-f42f-4897-9f65-dc12ae9e3129.png">

- [ ] I see there is only one contributor in README, is there a way to add all contributors?

[2022-04-06 02:14] FeynmanZhou commented on #256
Hi @renyunkang ,

could you please help to take a look at this issue?

[2022-04-06 02:14] FeynmanZhou commented on #256
Hi @renyunkang ,

could you please help to take a look at this issue?

[2022-04-06 02:28] renyunkang commented on #256
/assign @renyunkang

[2022-04-06 13:01] ivanmissu commented on #254
yeah , i checked on client machine , it works.

[2022-04-06 13:06] ivanmissu commented on #254
ok, thanks for answering

[2022-04-06 13:31] ivanmissu commented on #254
the ip neigh show my loadBalancer extenal ip, but can't ping
<img width="553" alt="image" src="https://user-images.githubusercontent.com/8721615/161986286-1ff36127-a3e6-4ef5-9880-3d0762bd9404.png">

[2022-04-06 13:53] #256 closed

[2022-04-07 01:58] renyunkang commented on #254
I think so. You try to find the reason why the mac address of all nodes is the same, and you can use `tcpdump` to analyze where the packets are lost.

[2022-04-07 02:04] renyunkang commented on #256
@all-contributors please add @zheng1 for code and doc

[2022-04-09 15:01] pai1233 opened #262 "提示no avliable eip"
应用EIP.YAML 后可以ping同虚拟IP
![输入图片说明](https://images.gitee.com/uploads/images/2022/0409/225251_d6d887f0_882772.png "屏幕截图.png")
配置文件如下
![输入图片说明](https://images.gitee.com/uploads/images/2022/0409/225316_68d85e3c_882772.png "屏幕截图.png")
提示错误
{"level":"info","ts":1649514051.4952984,"msg":"setup openelb service","service":"default/nginx"}

 {"level":"info","ts":1649514051.4953895,"logger":"IPAM","msg":"unAs

[2022-04-18 02:37] ivanmissu opened #263 "how to delete Eip when porter-manager has deleted"
i can't delelte Eip,  my porter-manager has deleted already.

[2022-04-18 02:42] renyunkang commented on #263
[This issue](https://github.com/openelb/openelb/issues/251) might help you.

[2022-04-18 03:25] ivanmissu commented on #251
@renyunkang  when i delete the finalizers field in the yaml with kubectl edit eip xxx, tips error: eips.network.kubesphere.io "porter-layer2-eip" could not be patched: Internal error occurred: failed calling webhook "validate.eip.network.kubesphere.io": Post "https://porter-32gjb1-manager.develops-components.svc:443/validate-network-kubesphere-io-v1alpha2-eip?timeout=10s": service "porter-32gjb1-m

[2022-04-18 03:31] ivanmissu commented on #263
i read issue
when i can delete the finalizers field in the yaml with kubectl edit eip xxx
, the command response error ：
error: eips.network.kubesphere.io "porter-layer2-eip" could not be patched: Internal error occurred: failed calling webhook "validate.eip.network.kubesphere.io": Post "https://porter-32gjb1-manager.develops-components.svc:443/validate-network-kubesphere-io-v1alpha2-eip?timeout=1

[2022-04-18 08:06] liangyuanpeng commented on #263
How did you  install porter-manager and delete porter-manager?

[2022-04-18 08:20] ivanmissu commented on #263
install by kubesphere,  uninstall by kubesphere

[2022-04-26 02:56] renyunkang opened #264 "An error occurred in vip mode"
In vip mode, an error occurs when restarting `openelb-manager` or increasing the number of copies of `openelb-manager`.

![image](https://user-images.githubusercontent.com/33660223/165210618-b22468b7-a50c-4cfc-a3ed-a7b2c10aaa05.png)

[2022-05-07 07:23] fsdrw08 opened #266 "any update about keepalived mode?"
as mentioned in [roadmap](https://github.com/openelb/openelb/blob/master/doc/roadmap.md), openelb should Achieve the High Availability in VIP mode based on Keepalived in version 0.7.0 at Jan, 2022, but I see tahat current release version of openelb in github still in 0.4.4.
May I know are there any update about keepalived mode in openelb?

[2022-05-09 16:18] FeynmanZhou commented on #251
I also met the same issue in OpenELB 0.4.4. Can we provide an uninstallation script for OpenELB？It will also remove all resources created by OpenELB in the K8s cluster.

[2022-05-09 16:31] FeynmanZhou opened #267 "[LFX mentoring] Support BGP policy in OpenELB"
## Project introduction

OpenELB is an open-source load balancer implementation designed for exposing the LoadBalancer type of Kubernetes services in bare metal, edge, and virtualization environments.

Currently, OpenELB supports the BGP protocol. However, the BGP policy is not fully supported in OpenELB. Therefore, based on the BGP protocol, OpenELB is supposed to support the BGP policy to enable

[2022-05-10 03:24] renyunkang commented on #251
Sounds good, we'll discuss your suggestions.

[2022-05-12 17:28] iharshit009 commented on #267
hi @FeynmanZhou  I would be interested in working on it

[2022-05-13 06:04] renyunkang commented on #266
We will release a new version in the near future. You can continue to pay attention to OpenELB.

[2022-05-13 06:15] #264 closed

[2022-05-13 15:58] FeynmanZhou commented on #267
Awesome! Thanks for your interest @iharshit009 . Let me assign this issue to you.

[2022-05-15 17:15] nyrareddy commented on #267
Hello @FeynmanZhou I am interested in this project. How many candidates can be a part of this LFX mentorship programme as I see this issue has already been assigned?

[2022-05-18 02:38] woodgear opened #269 "why could leader of openelb must contain the random selected vip owner node's ip?"
https://github.com/openelb/openelb/blob/f9438934950189fc66561a171a1482e6e960a6dc/pkg/speaker/layer2/arp.go#L190
arpspeaker seems only worked in openelb-manager pod.

[2022-05-18 02:45] woodgear commented on #269
@renyunkang

[2022-05-18 03:26] AaronLinOops opened #270 "Cloud Compatibility of OpenELB"
Does openelb compatible with most cloud providers, such as aws, gcp, azure ..

[2022-05-18 06:02] renyunkang commented on #269
https://pkg.go.dev/net#IPNet.Contains. It is used to determine whether they are in a network segment, not to determine that the node contains the ip.

[2022-05-18 06:05] #269 closed

[2022-05-18 09:12] renyunkang commented on #270
We haven't tested this.

[2022-05-18 10:55] mrpre commented on #270
It's impossible for user to run openelb on cloud,  because most cloud has it own way like `VPC`  to manage it network. Both L2 like ARP/VRRP are disabled.

[2022-05-19 12:08] AnuragThePathak commented on #244
Hi, isn't this issue under LFX Mentorship Summer 2022?
The LFX website shows as no mentors found against this project.

[2022-05-20 06:15] renyunkang commented on #244
You can find mentors in [cncf mentoring](https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/02-Summer#openelb). If you are interested in this, you can assign the issue to yourself.

[2022-05-20 07:21] renyunkang opened #271 "IP cannot be recycled"
When using openelb exposed loadbalancer type service and eip to delete concurrently, ip cannot be recycled.
/kind bug

[2022-05-20 07:24] renyunkang opened #272 "Incomplete eip verification in layer2 or vip mode"
When the eip configured in layer2 or vip mode and the specified NIC are not in the same network segment, an error should be reported instead of being created successfully.
/kind bug

[2022-05-20 11:02] nyrareddy commented on #267
/assign

[2022-05-23 15:55] shaoyi1997 commented on #267
Hi @FeynmanZhou, I'm shaoyi, a final year CS undergrad from Singapore and I'm very interested in taking up this project under the LFX mentorship! I've started exploring the documentation and codebase and I'm looking forward to working with the OpenELB community :)

[2022-05-23 22:21] halfrost commented on #267
Hi @FeynmanZhou, Has this task been assigned? Does anyone else have a chance?

[2022-05-24 02:24] renyunkang commented on #267
Expect your participation.

[2022-05-24 02:26] renyunkang commented on #267
You can submit an application at [this website](https://mentorship.lfx.linuxfoundation.org/project/b97a815b-6900-4a3e-a4af-7460551f933c) before 5.29, then we will select suitable candidates for development, you can learn more [here](https://docs.linuxfoundation.org/lfx/mentorship).

[2022-05-24 08:14] #251 closed

[2022-05-24 10:53] renyunkang commented on #271
**the result returns ok in vip mode when `kubectl apply -f vip.yaml`**
[code]
[code]
**the result returns ok when `kubectl delete -f vip.yaml`, but ConfigMap `openelb-vip-configmap` is not updated**
[code]

[2022-05-24 13:55] FeynmanZhou commented on #270
Yes or not. I tested OpenELB on QingCloud VMs. It works by using Layer2. But I think you would better use the Cloud LoadBalancer plugin provided by the cloud providers. OpenELB is designed for on-premises Kubernetes.

[2022-05-26 06:56] amal-thundiyil commented on #255
/close

[2022-05-26 07:01] amal-thundiyil commented on #251
Alternative solution which worked for me. Change `openelb-admission` to the name of corresponding `mutatingwebhookconfiguration` and then:
[code]
Now, set the `failurePolicy` from `Fail` to:
[code]

[2022-05-26 14:12] pyfs opened #280 "Is there a way to define which EIP to use in layer2 Mode ?"
Some mis-operation make my "cluster level" LB Shutdown，After re-configured，the EIP Changed;

So that all DNS record need to change;

so, as the title says,  Is there a way to define which EIP to use in layer2 Mode ?

[2022-05-27 10:08] FeynmanZhou commented on #251
@amal-thundiyil Thanks. This is a workaround. Now @renyunkang has provided a uninstall script to remove these resources and configuration.

[2022-06-01 07:32] renyunkang commented on #244
For more details refer to the following link:

- https://openelb.github.io/docs/getting-started/configuration/configure-ip-address-pools-using-eip/
- https://openelb.github.io/docs/getting-started/configuration/configure-openelb-in-bgp-mode/

## EIP

### Example
[code]

### Create

| Field | Description | Value |
| --- | --- | --- |
| metadata.name | Name of the Eip object | eip-sample-pool |
| me

[2022-06-05 18:07] AnuragThePathak commented on #244
I was trying to setup OpenELB in my local environment following [this](https://openelb.github.io/docs/building-and-contributing/build-the-openelb-project/) but I am able to complete neither make generate nor make release successfully.

When I run `make generate` I'm getting the following error
[code]

Running `make release` fails in the image exporting phase.
[code]

The second one might be possib

[2022-06-06 12:08] amal-thundiyil commented on #244
@AnuragThePathak

For `make generate`:
https://github.com/openelb/openelb/blob/582fa3d950d023d56b7afb266bb75e98852822a3/api/v1alpha2/eip_types.go#L108
Changing it to this worked for me:
[code]

For `make generate`:
You don't seem to have authorization to push to: `kubespheredev/openelb:v0.4.3`
https://github.com/openelb/openelb/blob/582fa3d950d023d56b7afb266bb75e98852822a3/Makefile#L3-L6

Push it

[2022-06-06 14:38] AnuragThePathak commented on #244
Thanks @amal-thundiyil I got it successfully, working this time. I wonder if that's a bug or something which needs to be updated with time 🤔.

[2022-06-15 15:04] renyunkang commented on #280
Sorry for the late reply. You can try specifying `svc.Spec.LoadBalancerIP` or specifying `eip.openelb.kubesphere.io/v1alpha1:192.168.xx.xx` in the svc `annotation` when creating svc. (`192.168.xx.xx` is the ip you want to assign)
If it doesn't work, please describe your problem as precisely as possible.

[2022-06-24 06:02] renyunkang commented on #267
BGP Policy Design: https://docs.google.com/document/d/1Y6N3wuXW58Gc0qdTWCVghlHQiOycEkvheoXpAF7hq2U/edit

[2022-06-24 09:14] liangyuanpeng opened #283 "Clean up code for hack image"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
We should not hack some container image on code. let all image can be setting.

**Describe alternatives you've considered**

**Additional context**

[2022-06-28 02:19] #266 closed

[2022-06-28 02:19] #254 closed

[2022-06-28 02:24] #250 closed

[2022-06-28 02:33] renyunkang commented on #223
The following content is missing from the configuration file, causing `bird` to start reporting an error.
[code]

[2022-06-28 02:34] #222 closed

[2022-06-28 02:36] renyunkang commented on #262
`disable: true`, you have disabled this eip.

[2022-06-29 03:21] geniusxiong opened #288 "How to create two or more vrrp_instance in vip mode?"
How to create two or more vrrp_instance in vip mode?

[2022-06-29 06:21] renyunkang commented on #288
Could you describe your application scenario in more detail?

[2022-06-29 07:09] geniusxiong commented on #288
openelb version: v0.5.0

we use use OpenELB in VIP Mode
if we create a service, we can see the keepalived.conf
there is a new virtual_ipaddress added in vrrp_instance vips

for example

root@node1:/# cat /etc/keepalived/keepalived.conf
global_defs {
  vrrp_version 3
  vrrp_iptables KUBE-KEEPALIVED-VIP
}

#Check if the VIP list is empty

vrrp_instance vips {
  state BACKUP
  interface ens192
  virt

[2022-06-29 08:44] lgang06 opened #289 "ipam controller update eips resource status fields return "the server could not find the requested resource" error message"
部署eips资源，更新status属性是提示 the server could not find the requested resource, 不知道那个环节配置错了，请求协助定位下问题。

**eips 配置:**
kubectl get eips bgp-eip -o yaml
apiVersion: network.kubesphere.io/v1alpha2
kind: Eip
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"network.kubesphere.io/v1alpha2","kind":"Eip","metadata":{"annotations":{},"name":"bgp-eip"},"spec":{"a

[2022-06-29 09:53] lgang06 commented on #289
按照教程部署，在创建eip资源后，在openelb-manager中看到的日志。通过调试错误信息来自
https://github.com/openelb/openelb/blob/master/pkg/controllers/ipam/ipam.go 执行第185行后
应该是因为这个原因，在之后添加lb类型的svc后，exterval-ip一直是pending状态，提示 no avliable eip

no avliable eip的详细错误：
{"level":"error","ts":1656496008.8808565,"logger":"controller-runtime.controller","msg":"Reconciler error","controller":"LBController","request":"openelb-system/test4","erro

[2022-06-29 10:02] renyunkang commented on #289
How do you define eip and svc.

[2022-06-29 12:40] lgang06 commented on #289
#  eip 配置：
 kubectl get eip bgp-eip -o yaml
apiVersion: network.kubesphere.io/v1alpha2
kind: Eip
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"network.kubesphere.io/v1alpha2","kind":"Eip","metadata":{"annotations":{},"name":"bgp-eip"},"spec":{"address":"172.22.0.2-172.22.0.100","protocol":"bgp"}}
  creationTimestamp: "2022-06-29T09:10:19Z"

[2022-06-29 15:24] chaunceyjiang commented on #288
Interesting!

[2022-06-29 15:44] renyunkang commented on #289
Maybe you should upgrade your kubernetes version.

[2022-06-30 04:37] lgang06 commented on #289
thanks, now that the problem is solved.

[2022-06-30 04:57] lgang06 commented on #289
when run in the k8s1.14.
select a solution:
1. edit eip crd,
    use spec.subresources,  removed spec.versions[*].subresources,
    in additionalPrinterColumns items, change  jsonPath fied to JSONPath.
2. edit openelb source code，where controller-runtime sdk are used，replace Client.Status().Update()  to Client.Update()  .

[2022-06-30 04:57] #289 closed

[2022-07-02 01:53] lutixiaya opened #291 "kubesphere3.3.0中，参考官网文档使用layer2模式，报no matches for kind "Eip" in version "network.kubesphere.io/v1alpha2"
### 官网配置：
![image](https://user-images.githubusercontent.com/48750425/176982123-cc0d6666-8c02-48c9-9418-84a43cd57fc1.png)
### 我的配置：
![image](https://user-images.githubusercontent.com/48750425/176982143-542a8b64-4e0e-4887-a923-6a133d904b3c.png)
### 报错：
[code]

[2022-07-02 07:15] lutixiaya commented on #291
解决了

[2022-07-02 07:15] #291 closed

[2022-07-04 02:32] #221 closed

[2022-07-12 08:22] XiaohuiSept commented on #244
OpenELB Web UI Design：
https://www.figma.com/file/8Ii6Y8PSf7kmcWFdWzaP9Y/OpenELB?node-id=0%3A1

[2022-07-12 08:35] renyunkang commented on #244
ok, thanks!!!

[2022-07-13 08:21] kevinsupport opened #295 "离线部署OPENEIP，openeip-keepalive-vip:0.35的yml文件在何处，需要添加harbor基于https访问的Imagepullsecret"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
What did you expect to happen?

**Output**
Add the output you're seeing to help explain your problem.

**Version Info**

- Version of Kubernetes:
- Version of OpenELB:

[2022-07-14 02:13] 905839698 opened #296 "自定义Eendpoiins后端后通过LoadBalancer访问服务，OpenELB异常退出"
**Describe the bug**
A clear and concise description of what the bug is.
创建自定义Endpoints指向k8s-worker节点时候，通过LoadBalancer暴露服务的时候openelb异常关闭
**To Reproduce**
Steps to reproduce the behaviour:
1.创建如下yml
apiVersion: v1
kind: Service
metadata:
  name: cadvisor
  namespace: dev-demo
  labels:
    k8s-app: cadvisor
  annotations:
    lb.kubesphere.io/v1alpha1: openelb
    protocol.openelb.kubesphere.io/v1a

[2022-07-14 02:27] chaunceyjiang commented on #296
你的意思是 你手动创建来一个Endpoints ，给它指定来一个ip,然后把这个ep 绑定到一个svc 上，然后发现openelb报错了？ 是这样吗？

[2022-07-14 09:23] 905839698 commented on #296
是的

[2022-07-15 04:59] renyunkang commented on #296
在 endpoints.subsets.addresses 里面指定 nodeName 后再试一下

[2022-07-23 08:30] hb-chen commented on #296
遇到类似的问题，用 cilium 的 ingress 创建的 endpoint 也是没有 nodeName

[2022-08-03 02:22] charnet1019 opened #300 "在openelb直通后端Pod的情况下，是否有优雅关闭Pod的机制"
在openelb直通后端Pod的情况下，是否有优雅关闭Pod的机制，类似于
https://cloud.tencent.com/document/product/457/60064

谢谢

[2022-08-03 02:27] chaunceyjiang commented on #300
你的意思是， openelb 是否有实现类似这个优雅关闭的机制吗？

[2022-08-04 02:30] charnet1019 commented on #300
@chaunceyjiang  是的，在文档中没有看到相关的说明

[2022-08-08 16:40] xxxt commented on #291
怎么解决的呢，求助
`root@tools:~/openelb# cat layer2-eip.yaml
apiVersion: network.kubesphere.io/v1alpha2
kind: Eip
metadata:
 name: layer2-eip
spec:
 address: 192.168.18.91-192.168.18.100
 interface: ens192
 protocol: layer2
root@tools:~/openelb# kubectl apply -f layer2-eip.yaml
error: unable to recognize "layer2-eip.yaml": no matches for kind "Eip" in version "network.kubesphere.io/v1alpha2"
root@tools:~/

[2022-08-09 08:06] renyunkang commented on #296
/close

[2022-08-09 08:06] #296 closed

[2022-08-09 08:08] #283 closed

[2022-08-20 04:17] amalthundiyil opened #306 "Add design docs used in OpenELB"
Many open source repositories maintain the design docs for the decisions which drive the code (eg: [metallb/metallb](https://github.com/metallb/metallb/tree/main/design)).

To allow for easier review of design proposals, create a directory for design proposals. Future PRs with proposed designs should be posted as a PR to this directory. If available, please drop the links or files (in [`docs`](htt

[2022-08-23 07:52] ljy-life commented on #219
After the parameter **externalTrafficPolicy** is configured as **local**, you need to **rebuild** the pod

[2022-08-30 13:05] #267 closed

[2022-08-30 18:05] amal-thundiyil commented on #267
To my fellow explorers, I have documented my LFX journey [here](https://amalthundiyil.hashnode.dev/linux-foundation-mentorship22-with-openelb) :shipit:.

[2022-09-06 11:25] hurricane1988 opened #307 "How to setup the default 443 port of the deployment openelb-manager?"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-07 06:17] renyunkang commented on #307
Do you mean to modify the default port? If it is, just modify the exposed port of `openelb-manager` deployment. Just like changing the default 443 to 3443:
[code]

[2022-09-08 02:42] hurricane1988 opened #309 "configmap openelb-vip-configmap was not found"
**Describe the bug**

openelb-system/openelb-vip-configmap: configmap openelb-vip-configmap was not found
**To Reproduce**

**Expected behaviour**

1. don't traverse configmap openelb-vip-configmap in all namespaces.
2. openelb-system/openelb-vip-configmap don't created.
**Output**

***err unexpected error searching configmap openelb-system/openelb-vip-configmap: configmap openelb-vip-configmap wa

[2022-09-14 04:31] renyunkang commented on #309
https://github.com/openelb/openelb/pull/304

[2022-09-19 10:55] cliff-wsy commented on #309
Hi,

As Hurricane spoken, I've been hit by the same issue. The openelb-system/openelb-vip-configmap did not been created automatically. And https://github.com/openelb/openelb/pull/304 seems be another issue, which is not meet this problem.

Really seeking for your help.

[2022-09-20 05:52] chaunceyjiang commented on #309
Hi, @cliff-wsy can you give us some information to help us investigate this problem?

[2022-09-24 01:48] cliff-wsy commented on #309
Hi, @chaunceyjiang

Apologize to reply delay.

Version infor as below:

Kubernetes: v1.21.5
OpenELB: v0.5.1
Kube-Keepalived-vip: 0.35

Description:
I applied yaml file on kubernetes cluster successfully with no error. However, logs from openelb-keepalived-vip showed configmap about openelb-vip-configmap was not found. As mentioned, there was no such configmap in any namespaces. And I had to create

[2022-09-26 06:07] renyunkang commented on #309
1. You can edit `daemonset` `openelb-keepalived-vip` directly.
2. See this for a custom mirror: https://github.com/openelb/openelb/pull/285

[2022-09-26 08:09] cliff-wsy commented on #309
That could help. Thanks in advance!

[2022-10-05 16:22] xiaosuiba opened #310 "Is there a way to filter out some nodes when using l2 mode"
Is there a way to filter out some nodes when using l2 mode? Sometimes we don't want some nodes to be used as egress node, I didn't find a way to do that in the document.

[2022-10-06 13:53] stevefan1999-personal commented on #214
Hello, I'm a homelab user who is frustrated over the Klipper LB and wanted to switch to k0s but I can't find a replacement for the load balancer, and it seems like this feature would greatly help. I have a couple of ideas and I will update them once I came up, so this might get edited multiple times. Here's the features I shortlisted so far:

# 1. Fallback proxy mode

## Description
Sometimes it i

[2022-10-15 07:12] AnuragThePathak commented on #244
I've shared my LFX mentorship experience in [this blog](https://dev.to/anuragpathak/my-lfx-mentorship-experience-with-openelb-4mhn). It was great learning and enhancement of my skills. I am very much grateful to all my three mentors @renyunkang, @weili520, and @FeynmanZhou, for putting their time and effort into mentoring me and making this project happen.

[2022-10-27 11:57] t106362512 opened #312 "Need to tolerate node-role.kubernetes.io/control-plane:NoSchedule taints"
**Describe the bug**

The Kubernetes project is moving away from offensive wording and as part of this KEP-2067 was accepted to replace the
`node-role.kubernetes.io/master:NoSchedule` taint with
`node-role.kubernetes.io/control-plane:NoSchedule`.

For the above reasons, additional tolerance needs to be added to allow it to be deployed to kubernetes v1.24 and above

**To Reproduce**

1. `kubectl ap

[2022-11-01 10:28] t106362512 commented on #312
This issue has been resolved by #313

[2022-11-01 10:28] #312 closed

[2022-11-03 12:51] AHulshoff opened #314 "Failed to call webhook: Post "https://openelb-manager.openelb.svc:443/validate-network-kubesphere-io-v1alpha2-eip?timeout=10s""
**Describe the bug**

After installing OpenELB with helm on a freshly installed Kubernetes cluster running on KVM virtual machines, I get an html 500 error and the message that the webhook cannot be reached.

**To Reproduce**

1. Created KVM virtual machines (Ubuntu 20.04) with Terraform
2. Used ansible playbook to install OpenELB:
[code]

**Expected behaviour**

I used this exact same setup in th

[2022-11-04 14:35] AHulshoff commented on #314
Output of calling `kubectl get pod,svc -n openelb`:

So the OpenELB manager is running.

[2022-11-07 02:06] renyunkang commented on #314
Try extending the pause time a little longer. From the description, it should be that openelb-manager has not been started during this time period.

[2022-11-09 12:44] tadejg opened #315 "Which routerId to specify in bgpConfig when running multiple replicas?"
I'm trying to configure OpenELB in BGP mode with multiple replicas for HA. As part of the bgpConfig yaml I'm expected to provide a single routerId which is supposedly an IP address of one of the NICs available on the host machine. What should routerId be set to when OpenELB is running multiple replicas on different nodes?

I understand that routerId can be left blank and OpenELB will pick the firs

[2022-11-09 13:05] tadejg opened #316 "What should EIP object address range be set to?"
After reading through the docs, I have a question regarding the EIP object when using BGP mode.

What IP range should you specify in the EIP config?
Does it need to be an unused range or can/should it be set to the k8s service IP range?

The way I initially understood OpenELB's BGP mode is that it uses BGP to advertise cluster service IPs to the leaf routers. This is why I can't see why OpenELB wo

[2022-11-09 23:06] AHulshoff commented on #314
Thank you for responding. I am not sure how much would be reasonable to pause the process. But I tried 5 minutes and openelb-manager still hasn't started. So I tried to configure EIP at least 10 minutes later, but still getting the same error. I suppose the openelb-manager should have started by now, right?

[2022-11-10 02:06] renyunkang commented on #316
The specified eip pool must not conflict with pod/service cidr. Openelb will use the specified eip pool to assign an ip to the service. After allocating the ip, openelb uses bgp to advertise the route.

[2022-11-10 02:36] renyunkang commented on #315
Bgp routeID is an ID used for identification and is unique in the network. When not specified it will be set to the ip of the node where the openelb-manager pod is running.

[2022-11-10 03:04] renyunkang commented on #314
When openelb-manager is running, do you also get this error when you manually create it?  If yes, please check the connectivity of the svc to the pod.

[2022-11-11 00:02] #315 closed

[2022-11-11 00:02] #316 closed

[2022-11-11 00:03] tadejg commented on #315
Thanks, this cleared up my confusion. I was able to successfully configure OpenELB

[2022-11-21 13:10] AHulshoff commented on #314
I have rebuilt the entire cluster and now it seems to work. I need to check what the differences are to figure out why this happened.

[2022-11-21 13:10] #314 closed

[2022-11-25 09:41] rechardwang opened #317 "openelb与calico bgp冲突"
openelb使用BGP模式下如何不做对等，而使用calico bgp的配置来暴露负载地址？否则对等会冲突

[2022-11-25 15:57] AHulshoff opened #318 "Service does not get external ip, state remains pending"
**Describe the bug**

When I create a new service in kubernetes, openelb doesn't assign an external ip address to the service. What am I missing here? By the way, is the slack channel still active? Because the link to it does not work anymore.

**To Reproduce**

**Expected behaviour**

Service receives an external ip address from the eip address poolkubectl

**Output**

[code]

[code]
[code]
[code

[2022-11-26 21:04] Tanmoy741127 commented on #95
Hi . I am interested in working on this. If none is working on this, Can @zheng1 assign this to me

[2022-11-26 23:24] zheng1 commented on #95
/assign @Tanmoy741127

[2022-11-27 04:57] Tanmoy741127 commented on #95
@zheng1 is it the same issue #244 ?
Can you please check once and let me know

[2022-11-28 01:50] zheng1 commented on #95
@renyunkang Please check this

[2022-11-28 01:58] renyunkang commented on #95
Yes, its repo address is https://github.com/openelb/console

[2022-11-28 02:08] rechardwang commented on #317
简单点来说 就像使用 metallb 一样只需要在calico中指定负载的IP池即可，不用进行对等配置

[2022-11-28 02:15] Tanmoy741127 commented on #95
Can you please check,  whether any improvement of that web interface required?

If required, I would like to work on improvement of that , because that has no readme , license, code of conduct or any other files for contributors to contribute.

[2022-11-28 02:23] renyunkang commented on #95
Of course! We are happy if you want

[2022-11-28 04:39] Tanmoy741127 commented on #95
Nice ! I will open a new issue in that particular repo to make docs
whatever is there still now to make it easy for other contributors. Then
will work on the interface.

On Mon, 28 Nov 2022, 07:54 Yunkang Ren, ***@***.***> wrote:

[2022-11-28 08:54] AHulshoff commented on #314
The biggest difference I have identified so far is that I started using CRI-O instead of Containerd. Although that casues another issue logged at: #318.

[2022-11-28 09:02] renyunkang commented on #318
Besides this "no avliable eip" error, is there any other error message?

[2022-11-28 10:37] chaunceyjiang commented on #317
@renyunkang @zheng1

[2022-11-28 10:48] renyunkang commented on #317
It same as https://github.com/openelb/openelb/issues/151,
Due to some factors, we have not supported it yet, we will support it in a later iteration

[2022-11-28 13:45] AHulshoff commented on #318
As far as I have seen, only this one: `Warning  add/update eip  11m (x160 over 39h)  IPAM  k8s-n-1: operation not permitted`.

It looks like a permission error, but I have no auth set up in my k8s cluster. Unless this could be caused by logging in to the nodes with the linux user over ssh.

[2022-11-30 13:39] AHulshoff commented on #318
Could this be caused by Calico v3.24.5?